<div class="container-fluid">
 <div class="block-header">
  <div class="row mb-2">
    <div class="col-lg-12">
    <ul class="breadcrumb">                          
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active">Meetings</li>
  </ul>
</div>
  </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                <a href="javascript::(0)" (click)="backtohome()">
                <i class="fa fa-arrow-left mr-2"></i></a>
                <h2 class="mb-0">Meetings & Communications</h2> 
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <div class="page_action">
    
                    </div>
                    <div class="p-2 d-flex">
                        <button class="btn btn-primary mr-2" (click)="addmessage()">Send Message <img src="../../../assets/images/btn_arrow.png" class="ml-2 btn_arrow"/></button> 
                        <button class="btn btn-primary" (click)="addmeeting()">Schedule a Meeting <img src="../../../assets/images/btn_arrow.png" class="ml-2 btn_arrow"/></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row mt-5 mb-5">
    <div class="col-lg-12">
        <div class="d-flex tabsearch align-items-center justify-content-between"> 
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-upmeeting-tab" data-toggle="pill" href="#pills-upmeeting" role="tab" aria-controls="pills-upmeeting" aria-selected="true">Upcoming Meetings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-mymeeting-tab" data-toggle="pill" href="#pills-mymeeting" role="tab" aria-controls="pills-mymeeting" aria-selected="false">My Meetings</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" id="pills-Message-tab" data-toggle="pill" href="#pills-Message" role="tab" aria-controls="pills-Message" aria-selected="false">My Messages</a>
          </li> 
      </ul>
      
    </div>
    <div class="tabseachBar">
      <div class="search">
          <span>Search</span>
          <input type="text" class="form-control round">
          <button type="btn btn-primary" class="srch_icon"><i class="fa fa-search"></i></button>
      </div>
      <div class="btns">
        <button class="btn btn-outline-white mr-2"><i class="icon-printer mr-2"></i> Print</button>
        <button class="btn btn-secondary"><i class="fa fa-cloud-download mr-2"></i>Download</button>
      </div>
<!-- 
      <div class="drp">
          <span>Sort By</span>
          <select class="form-control">
              <option>All</option>
          </select>
      </div> -->
</div>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-upmeeting" role="tabpanel" aria-labelledby="pills-upmeeting-tab">
          <div *ngIf="upcomingmeetings && upcomingmeetings.length > 0; else noMeetings">
          <div class="card col-lg-4" *ngFor="let meeting of upcomingmeetings"> 
            <div class="card-body d-flex flex-column justify-content-between ">
            <div class="d-flex justify-content-between w-100"> 
             <div class="training_img">
                <img src="../../../assets/images/calendar.png"/>
                <div class="tim_details">
                    <span>{{ meeting.Day }}</span>
                    <label>{{ meeting.Date }}</label>
                    <label>{{ meeting.time }}</label>
                </div>
             </div>
             <div class="training_dtls">
                <h2><b>Zonal Level:</b> {{ meeting.title }}</h2>
                <div class="training_dur">
                  <div class="d-flex align-items-center detials">
                    <span>Duration :</span>
                    <label>{{ meeting.DurationInNightsAndDays }}</label>
                  </div>
                  <div class="d-flex align-items-center detials">
                    <span>State :</span>
                    <label></label>
                  </div>
                  <div class="d-flex align-items-center detials">
                    <span>Org by :</span>
                    <label>{{ meeting.organizer }}</label>
                  </div>
                </div>
             </div>
            </div>
            <div class="d-flex align-items-center justify-content-between train_b_details">
              <div class="d-flex align-items-center">
                <span><img src="../../../assets/images/meeting_location.png"/></span>
                <h4>{{ meeting.Meeting }}</h4>
              </div>
                <button class="btn btn-white" (click)="joinZoomMeeting(meeting)">Join</button>
            </div>
          </div>
          </div>
          </div>
          <ng-template #noMeetings>
            <div class="no-meetings col-lg-12 d-flex flex-column lign-items-center justify-content-center mb-5 mt-5">
              <img src="../../../assets/images/noactivity.png" class="mb-3 mt-3"/>
              <h4>You have not schedule any meetings yet!</h4>
            </div>
          </ng-template>
        </div>
        <div class="tab-pane fade" id="pills-mymeeting" role="tabpanel" aria-labelledby="pills-mymeeting-tab">
          <div *ngIf="Mymetting && Mymetting.length > 0; else noMeetings">
            <div class="card col-lg-12" *ngFor="let meeting of Mymetting"> 
              <div class="row align-items-center">
              <div class="col-lg-4 p-0">
              <div class="card-body d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between w-100"> 
                 <div class="training_img">
                    <img src="../../../assets/images/calendar.png"/>
                    <div class="tim_details">
                        <span>{{ meeting.Day }}</span>
                        <label>{{ meeting.Date }}</label>
                        <label>{{ meeting.time }}</label>
                    </div>
                 </div>
                 <div class="training_dtls">
                    <h2><b>Zonal Level:</b> {{ meeting.title }}</h2>
                    <div class="training_dur">
                      <div class="d-flex align-items-center detials">
                        <span>Duration :</span>
                        <label>{{ meeting.DurationInNightsAndDays }}</label>
                      </div>
                      <div class="d-flex align-items-center detials">
                        <span>State :</span>
                        <label>New Delhi</label>
                      </div>
                      <div class="d-flex align-items-center detials">
                        <span>Org by :</span>
                        <label>{{ meeting.organizer }}</label>
                      </div>
                    </div>
                 </div>
                </div>
                <div class="d-flex align-items-center justify-content-between train_b_details">
                  <div class="d-flex align-items-center">
                    <span><img src="../../../assets/images/meeting_location.png"/></span>
                    <h4>{{ meeting.Meeting }}</h4>
                  </div>
                    <button class="btn btn-white" (click)="joinZoomMeeting(meeting)">View Details</button>
                </div>
               
              </div>
              </div>
              <div class="col-lg-1 p-0 d-flex align-items-center flex-column ml-lg-auto"> 
              <ng-container *ngIf="meeting.Meetingstatus === 1">
                <button class="btn btn-primary mr-4 w-100" (click)="joinZoomMeeting(meeting)">Join</button>
                <button class="btn btn-danger mr-4 mb-2 w-100" (click)="ReSchedule(meeting)">Re-Schedule</button>
                <button class="btn btn-dark mr-4 mb-2 w-100" data-toggle="modal" data-target="#cancelalert" (click)="setSelectedmeeting(meeting)">Cancel</button>
              </ng-container>
      
              <!-- Show disabled 'Canceled' button if Meetingstatus is 0 -->
              <ng-container *ngIf="meeting.Meetingstatus === 0">
                <button class="btn btn-secondary mr-4 mb-2 w-100" disabled>Canceled</button>
              </ng-container>
             
              
              </div> 
            </div>
            </div>
          </div>
              <ng-template #noMeetings>
                <div class="no-meetings col-lg-12 d-flex flex-column lign-items-center justify-content-center mb-5 mt-5">
                  <img src="../../../assets/images/noactivity.png" class="mb-3 mt-3"/>
                  <h4>You have not schedule any meetings yet!</h4>
                </div>
              </ng-template>
        
        </div>
        <div class="tab-pane fade" id="pills-Message" role="tabpanel" aria-labelledby="pills-Message-tab">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                  <tr>
                    <th>Sr. No</th>
                    <th>Image, Video, Audio</th>
                    <th>Content</th>
                    <th>Sender</th>
                    <th>Date & Time</th>
                    <th>Receipents</th>
                    <th>Status</th>
              </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>01.</td>
                      <td><img src="../../../assets/images/logo.png" width="32" height="32"></td>
                      <td class="wp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis iaculis ultrices. Aliquam ipsum ante, dictum quis eros non, vestibulum auctor justo. Duis egestas elementum</td>
                      <td class="wp">Shri Mallikarjun Kharge</td>
                      <td class="wp">02 DEC 2024 11:00 AM</td>
                      <td class="wp">Shri Sanjay Neeraj, Shri Hitendra Pithadiya, Shri Devender Yadav, Shri Shaktisinh Gohil, Shri Rahul Gandhi, Shri K Raju, more</td>
                      <td>Successful</td>
                  </tr>
                  <tr>
                      <td>01.</td>
                      <td><img src="../../../assets/images/logo.png" width="32" height="32"></td>
                      <td class="wp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis iaculis ultrices. Aliquam ipsum ante, dictum quis eros non, vestibulum auctor justo. Duis egestas elementum</td>
                      <td class="wp">Shri Mallikarjun Kharge</td>
                      <td class="wp">02 DEC 2024 11:00 AM</td>
                      <td class="wp">Shri Sanjay Neeraj, Shri Hitendra Pithadiya, Shri Devender Yadav, Shri Shaktisinh Gohil, Shri Rahul Gandhi, Shri K Raju, more</td>
                      <td>Successful</td>
                  </tr>
              </tbody>
          </table>
          </div>
          <ng-template #noMeetings>
            <div class="no-meetings col-lg-12 d-flex flex-column lign-items-center justify-content-center mb-5 mt-5">
              <img src="../../../assets/images/noactivity.png" class="mb-3 mt-3"/>
              <h4>You have not schedule any meetings yet!</h4>
            </div>
          </ng-template>
        </div> 
      </div>
    </div>
</div>
    </div>

    <div class="modal fade" id="cancelalert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <div class="modal-body d-flex align-items-center flex-column justify-content-center alertbox">
             <img src="assets/images/loader.png" width="128"/>
             <h2>Are you sure?</h2>
             <p>Do you really want to cancel the meeting?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-lg btn-outline-primary" data-dismiss="modal">NO</button>
              <button type="button" class="btn btn-lg btn-primary" (click)="Cancelmeeting(selectedmeeting)">YES</button>
            </div>
          </div>
        </div>
      </div>