<div class="container-fluid">
    <div class="block-header">
        <div class="row mb-2">
          <div class="col-lg-12">
          <ul class="breadcrumb">                          
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Elections And Elected Members</li>
        </ul>
      </div>
        </div>
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                      <a href="javascript::(0)" (click)="backtohome()">
                      <i class="fa-solid fa-arrow-left mr-2"></i></a>
                      <h2 class="mb-0">Elections And Elected Members</h2> 
                 
                  </div>
                  
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="d-flex flex-row-reverse">
                      <div class="page_action">
      
                      </div>
                    
                  </div>
                  </div>
              </div> 
          </div>


          <div class="row">
            <div class="col-lg-3">
                <h2 class="filter flt_mb" (click)="filter()">Filters</h2>
                <h2 class="filter flt_web">Filters</h2>
                <div id="accordion" class="acc_filter"> 
                <div class="card mb-2">
                  <div class="card-body">
                      <div class="filter_title_div">
                          <div class="d-flex w-100 align-items-center justify-content-between" id="headingOne">
                              
                                  <button
                                    class="filter_title accordion-toggle"
                                    data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                  > <span class="icon">-</span>
                                    States
                                   
                                  </button>
                                  <button class="btn fil-sm btn-dark"  >Clear All</button>
                               
                              
                          </div>
                          
                      </div>
                      <div class="filter_main"  id="collapseOne"
                      class="collapse show"
                      aria-labelledby="headingOne"
                      data-parent="#accordion">
                              <div class="inputcheck" >
                                <mat-checkbox color="#000">All</mat-checkbox>
                              </div>
                              <div class="inputcheck" *ngFor="let meeting of States.slice(0,StatesLimit)" >
                                <mat-checkbox color="#000">{{ meeting.STATENAME }}</mat-checkbox>
                              </div>
                              <a class="btn fil-sm" *ngIf="StatesLimit < States.length" (click)="showmore('states')" >More</a>
                              <a class="btn fil-sm"  *ngIf="StatesLimit == States.length" (click)="showless('states')" >Less</a>
                      </div>
                  </div>
              </div> 
                <div class="d-flex align-items-center justify-content-center mt-3 mb-3">
                    <button class="btn btn-outline-white mr-2">Clear</button>
                    <button class="btn btn-primary">Apply</button>
                </div>
                </div>
            </div>
            <div class="col-lg-9">
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="AICC-tab" data-toggle="tab" href="#AICC" (click)="showTab('SC Dept')" role="tab" aria-controls="home" aria-selected="true">All Assembly Contituencies</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="PCC-tab" data-toggle="tab" href="#AICC" (click)="showTab('ST Dept')" role="tab" aria-controls="profile" aria-selected="false">All Parliament Contituencies</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="SC-tab" data-toggle="tab" href="#AICC" (click)="showTab('OBC Dept')" role="tab" aria-controls="contact" aria-selected="false">Sitting MP's Of  All Communities</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="ST-tab" data-toggle="tab" href="#AICC" (click)="showTab('Minority Dept')" role="tab" aria-controls="contact" aria-selected="false">Sitting MLA's Of   All Communities</a>
                    </li>
                   
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="AICC" role="tabpanel" aria-labelledby="home-tab">
                        <div class="tabseachBar">
                            <div class="search tab_search">
                                <i class="fa fa-search"></i> 
                                <input type="text" class="form-control round"> 
                            </div>
                            <div class="btns">
                              <button class="btn btn-outline-white mr-2"><i class="icon-printer mr-2"></i> Print</button>
                              <button class="btn btn-secondary"><i class="fa fa-cloud-download mr-2"></i>Download</button>
                            </div> 
                      </div>
                      <div class="table-responsive">
                        <table class="table sortable-table sortable-fa-icons">
                          <thead>
                              <tr>
                                <th class="numeric-sort">Sr. No</th>
                                <th class="numeric-sort">Image</th>
                                <th class="numeric-sort">Title</th>
                                <th class="numeric-sort">Name of the <br/> office bearer</th> 
                                <th class="numeric-sort">Designation</th>
                                <th class="numeric-sort">Date Of Posting</th>
                                <th class="numeric-sort">Type Of Activity</th>
                                <th class="numeric-sort">No.Of <br/> Participants</th>
                                <th class="numeric-sort">State</th>
                                <th class="numeric-sort">Expected outcome</th>
                                <th>#</th>
                          </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let act of LDMActivities; let i = index">
                                  <td>{{i+1}}</td>
                                  <td><img [src]="act.photo_path || '../../../assets/images/logo.png'" 
                                      width="32" height="32"></td>
                                  <td class="wp">{{act.title}}</td>
                                  <td class="wp">{{act.office_bearer}}</td> 
                                  <td class="wp">{{act.designation}}</td>
                                  <td class="wp">{{act.date_of_posting.split('T')[0]}}</td>
                                  <td class="wp">{{act.activity_type_name}}</td>
                                  <td class="wp">{{act.no_of_participants}}</td>
                                  <td class="wp">{{act.statename}}</td>
                                  <td class="wp">{{act.expected_outcome}}</td>
                                  <td><a href='javascript::' target="_blank" >
                                    <i class="fa fa-eye"></i> 
                                  </a></td>
                              </tr> 
                          </tbody>
                      </table>
                      </div>
                    </div>
                   
                  </div>
                 
            </div>
          </div>
   </div>
