
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="../../assets/images/loader.png" width="64" height="64" alt="Iconic"></div>
            <p>Loading...</p>
        </div>
    </div>

    <!-- Top navbar div start -->
   <header ></header>

    <!-- load left sidebar
    <sidebar></sidebar> -->

    <!-- rightbar icon div 
    <rightbar></rightbar>-->
    
    <!-- mani page content body part -->
    <div id="main-content">
        <router-outlet></router-outlet>
       
    </div>
    <app-footer></app-footer>
    <div id="publishStatus">
        <div class="btn btn-success" style="width:100%">
            <span>Publishing(10/100)</span>
        </div>
    </div>