<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Profile</h2>
            
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="d-flex flex-row-reverse">
                <div class="page_action">

                </div>
                <div class="p-2 d-flex">
                    <button class="btn btn-danger mr-2" data-toggle="modal" data-target="#delaccount"><i class="fa fa-trash-o mr-2"></i>DELETE ACCOUNT</button>
                    <button class="btn btn-success mr-2" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>LOGOUT</button>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#delaccount"><i class="fa fa-pencil mr-2"></i>EDIT</button>
                </div>
            </div>
        </div>
    </div>
</div>  

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card whitebg">  
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-12 d-flex align-items-start">
                                <div class="media">
                                    <div class="media-left m-r-15">
                                        <img src="" class="user-photo media-object" alt="User">
                                    </div> 
                                </div>
                                <div class="details_profile"> 
                                    <div class="d-flex flex-column align-items-start ml-5">
                                        <h6 class="prof_title">{{userdetails.first_name}}</h6>

                                        <div class="detailsInner">
                                            <span>Email ID :</span>
                                            <span>{{userdetails.email_id}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Mobile Number :</span>
                                            <span>{{userdetails.mobile_no}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Age :</span>
                                            <span>{{userdetails.age}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>DOB :</span>
                                            <span>{{userdetails.dob | date:'dd/MM/yyyy' }}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Gender :</span>
                                            <span>{{userdetails.gender}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Cast :</span>
                                            <span>{{userdetails.caste}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Address :</span>
                                            <span>{{userdetails.address_1}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                       
                    </div>

                   

                    
                </div>

                

                 

            </div>

            <div class="col-lg-12 mt-4">
                <h4>Experience Details</h4>
                <div class="card"> 
        
                            <div class="body text-center d-flex justify-content-center flex-column">
                               <img src="assets/images/loader.png" class="loader_img"/>
                               <button class="btn btn-primary" data-toggle="modal" data-target="#expdetails">Add Professional Details</button>
                            </div>
        
                           
        
                            
                        </div>
        
                        
        
                         
        
                    </div>
                    <div class="col-lg-12 mt-4">
                        <h4>Activity</h4>
                        <div class="card"> 
                
                                    <div class="body text-center d-flex justify-content-center flex-column">
                                       <img src="assets/images/loader.png" class="loader_img"/>
                                       <button class="btn btn-primary" data-toggle="modal" data-target="#addactivity">Add Activity</button>
                                    </div>
                                    <div class="activities-container">
                                        <h2>Activities</h2>
                                        <div class="search-bar">
                                          <input type="text" placeholder="Search :" />
                                          <button>
                                            <i class="fa fa-search"></i>
                                          </button>
                                        </div>
                                        <div class="activities-grid">
                                          <div class="activity-card" *ngFor="let activity of Activities">
                                            <div class="activity-image">
                                              <!-- Placeholder for image -->
                                            </div>
                                            <div class="activity-content">
                                              <h3>{{ activity.title }}</h3>
                                              <div class="activity-meta">
                                                <span>
                                                  <i class="fa fa-user"></i> {{ activity.Author }}
                                                </span>
                                                <span>
                                                  <i class="fa fa-calendar"></i> {{ activity.Date }}
                                                </span>
                                              </div>
                                            </div>
                                            <button class="edit-button" data-toggle="modal" data-target="#activitydetail" (click)="ActivityDetail(activity)" >Edit</button>
                                          </div>
                                        </div>
                                      </div>
                                      


                                </div>
                            </div>
        </div>
    


<div class="modal fade" id="delaccount" tabindex="-1" role="dialog" aria-labelledby="delaccount" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body d-flex align-items-center flex-column justify-content-center alertbox">
            <img src="assets/images/loader.png" width="128"/>
            <h2>Are you sure?</h2>
            <p>Do you really want to delete the account?</p>
           </div>
           <div class="modal-footer text-center">
            <button type="button" class="btn btn-lg btn-outline-primary" data-dismiss="modal">NO</button>
            <button type="button" class="btn btn-lg btn-primary">YES</button>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="expdetails" tabindex="-1" role="dialog" aria-labelledby="expdetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Experience Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
  </div> 

  <div class="modal fade" id="addactivity" tabindex="-1" role="dialog" aria-labelledby="addactivity" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Activity</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="block-header">
                       <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                               <a href="javascript::(0)" (click)="Back()" >
                               <i class="fa fa-arrow-left mr-2"></i></a>
                               <h2 class="mb-0">Activity</h2> 
                           </div>
                          
                       </div>
                   </div>
                  
            <div class="row mt-5 mb-5">
                 
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="my-input">Title</label>
                                <input id="my-input" class="form-control" placeholder="Enter Title" [(ngModel)]="clsactivity.title" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Date</label>
                                <input class="form-control" type="date" placeholder="Enter Date" [(ngModel)]="clsactivity.date_posting" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                      
                        <div class="col-lg-12">
                            <div class="form-group" >
                                <label >Type of Activity</label>
                                <select class="form-control" (change)="onActvitytypeChange($event)" [(ngModel)]="clsactivity.activity_type" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select Activity Type</option>
                                    <option *ngFor="let type of ActivityType" [value]="type.id">{{ type.name }}</option> 
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group"  >
                                <label >No of Participant</label>
                                <input id="my-input" class="form-control" type="number" placeholder="Enter Participant" [(ngModel)]="clsactivity.no_of_participants" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                       

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">State</label>
                                <select class="form-control" (change)="onstateChange($event)" [(ngModel)]="clsactivity.state_id" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select State</option>
                                    <option *ngFor="let state of states" [value]="state.STATEID">{{ state.STATENAME }}</option> 
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">City</label>
                                <select class="form-control" (change)="oncityChange($event)" [(ngModel)]="clsactivity.city_id" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select City</option>
                                    <option *ngFor="let city of cities" [value]="city.DISTRICTID">{{ city.DISTRICTNAME }}</option> 
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label">villages</label>
                                <select class="form-control" (change)="onvillageChange($event)" [(ngModel)]="clsactivity.village_id" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select villages</option>
                                    <option *ngFor="let village of villages" [value]="village.CityID">{{ village.CityName }}</option> 
                                    </select>
                            </div>
                        </div>
                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Description</label>
                                <textarea class="form-control" placeholder="Enter Description" [(ngModel)]="clsactivity.description" [ngModelOptions]="{standalone: true}" ></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Short Description</label>
                                <textarea class="form-control" placeholder="Enter Short Description" [(ngModel)]="clsactivity.short_desc" [ngModelOptions]="{standalone: true}"> </textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Thumbnail Image</label>
                                <input id="my-input" class="form-control" type="file" (change)="onFileChange($event)"  placeholder="Enter thumbnail_img" [(ngModel)]="clsactivity.thumbnail_img" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                    </div>
                </div>
                </div> 
                   
                
            </div>   
            
            
            
          </div>
          <div class="modal-footer">
            <button type="button"  class="btn btn-outline-primary" data-dismiss="modal" (click)="CancelActivity()">Cancel</button>
            

            <button type="button" class="btn btn-primary" (click)="SaveActivity()">Save</button>
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="activitydetail" #activityModal tabindex="-1" role="dialog" aria-labelledby="activitydetail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Activity detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="block-header">
                       <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                               <a href="javascript::(0)" (click)="Back()" >
                               <i class="fa fa-arrow-left mr-2"></i></a>
                               <h2 class="mb-0">Activity Detail</h2> 
                           </div>
                          
                       </div>
                   </div>
                  
            <div class="row mt-5 mb-5">
                 
                <div class="col-lg-5">
                    <div class="row">
                      
                      
                        <div class="activity-detail-container" *ngFor="let activity of ActivitiesDetail">
                            <div class="content">
                              <div class="card">
                                <div class="field">
                                  <label>Title:</label>
                                 
                                  <span>
                                    {{ activity.title }}
                                  </span>
                                </div>
                                <div class="field">
                                  <label>Date of Posting:</label>
                                  <span>
                                   {{ activity.Date }}
                                  </span>
                                </div>
                                <div class="field">
                                  <label>Type of Activity:</label>
                                  <span>
                                    {{ activity.name }}
                                  </span>
                                </div>
                                <div class="field">
                                  <label>No of Participants:</label>
                                  <span>
                                   {{ activity.no_of_participants }}
                                  </span>
                                </div>
                                <div class="field">
                                  <label>Expected Outcome:</label>
                                  <span>
                                    {{ activity.outcome }}
                                  </span>
                                </div>
                                <div class="field">
                                  <label>State:</label>
                                  <span>
                                    {{ activity.StateName }}
                                  </span>
                                </div>
                                <div class="field">
                                  <label>City:</label>
                                  <span>
                                     {{ activity.DistrictName }}
                                  </span>
                                </div>
                                <div class="field">
                                  <label>Town/Village:</label>
                                  <span>
                                    {{ activity.CityName }}
                                  </span>
                                </div>
                              </div>
                          
                              <div class="actions">
                                <button class="btn delete" (click)="deleteActivity()">Delete</button>
                                <button class="btn edit" data-toggle="modal" data-target="#addactivity" (click)="EditActivity(activity)">Edit</button>
                                <a href="#" class="btn download">Download Report</a>
                              </div>
                            </div>
                          </div>
                           
                      
                          
                       

                       
                    </div>
                </div>
                </div> 
                   
                
            </div>   
            
            
            
          </div>
        </div>
      </div>
  </div>