<div class="block-header">
    <div class="row mb-2">
        <div class="col-lg-12">
        <ul class="breadcrumb">                          
          <li class="breadcrumb-item">Dashboard</li>
          <li class="breadcrumb-item active">Profile</li>
      </ul>
    </div>
      </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Profile</h2>
            
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="d-flex flex-row-reverse">
                <div class="page_action">

                </div>
                <div class="p-2 d-flex">
                    <button class="btn btn-danger mr-2" data-toggle="modal" data-target="#delaccount"><i class="fa fa-trash-o mr-2"></i>DELETE ACCOUNT</button>
                    <button class="btn btn-success mr-2" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>LOGOUT</button>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#delaccount"><i class="fa fa-pencil mr-2"></i>EDIT</button>
                </div>
            </div>
        </div> -->
    </div>
</div>  

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card whitebg">
            <div class="banner">
                <img src="../../../assets/images/login_bg.png"/>
                <button class="edit-button1"><i class="icon-pencil"></i></button>
            </div>  
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="media">
                                    <div class="media-left m-r-15">
                                        <img src="../../../assets/images/main_logo.png" class="user-photo media-object" alt="User">
                                        <h6 class="prof_title">{{userdetails.first_name}}</h6>
                                    </div> 
                                </div>
                                <div class="d-flex flex-row justify-content-end w-100 yop_btns"> 
                                     
                                    <button class="btn btn-secondary mr-2" data-toggle="modal" data-target="#delaccount"><i class="fa fa-pencil mr-2"></i>Edit Profile</button>
                                        <button class="btn btn-danger mr-2" data-toggle="modal" data-target="#delaccount"><i class="fa fa-trash-o mr-2"></i>Delete Account</button>
                                        <button class="btn btn-grey" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>Logout</button>
                                    
                                </div>
                                <div class="details_profile mt-3">  

                                        <div class="detailsInner">
                                            <span class="small">Email ID :</span>
                                            <span>{{userdetails.email_id}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Mobile Number :</span>
                                            <span>{{userdetails.mobile_no}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Age :</span>
                                            <span>{{userdetails.age}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>DOB :</span>
                                            <span>{{userdetails.dob | date:'dd/MM/yyyy' }}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Gender :</span>
                                            <span>{{userdetails.gender}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Cast :</span>
                                            <span>{{userdetails.caste}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Address :</span>
                                            <span>{{userdetails.address_1}}</span>
                                        </div>
                                     
                                </div>
                            </div>
                            
                        </div>
                       
                    </div>

                   

                    
                </div>

                

                 

            </div>

            <div class="col-lg-12 mt-4">
                <h4>Experience Details</h4>
                <div class="card"> 
        
                            <div class="body text-center d-flex justify-content-center flex-column">
                               <img src="assets/images/loader.png" class="loader_img"/>
                               <button class="btn btn-primary" data-toggle="modal" data-target="#expdetails">Add Professional Details</button>
                            </div>
        
                           
        
                            
                        </div>
        
                        
        
                         
        
                    </div>
                    <div class="col-lg-12 mt-4">
                        <h4>Activity</h4>
                        <div class="card"> 
                
                                    <div class="body text-center d-flex justify-content-center flex-column" *ngIf="(Activities ?? []).length === 0">
                                       <img src="assets/images/loader.png" class="loader_img"/>
                                       <button class="btn btn-primary" data-toggle="modal" data-target="#addactivity">Add Activity</button>
                                    </div>
                                    <div class="activities-container">
                                        <div class="d-flex justify-content-end align-items-center mb-3">
                                            <div class="search "> 
                                                <input type="text" class="form-control round search_txt" placeholder="Search">
                                                <button class="srch_icon"><i class="fa fa-search"></i></button>
                                            </div>
                                            <button class="btn btn-primary" (click)="addactivity()"><i class="icon-plus mr-2"></i> Add New</button>
                                        </div> 
                                        
                                        <div class="row">
                                          <div class="col-lg-3 mb-3" *ngFor="let activity of Activities">
                                            <div class="card no-bdr">
                                            <div class="activity-image">
                                           <img [src]="activity.thumbnail_image || '../../../assets/images/login_bg.png'" alt="Activity Image" />
                                            </div>
                                            <div class="card-body drop_shadow">
                                              <h3 class="active_title mb-0">{{ activity.Author }}</h3>
                                              <span class="active_timespan">{{ activity.Date }}</span>
                                              <div class="activity-meta mt-3">
                                                <span> {{ activity.title }} 
                                                </span> 
                                              </div>
                                            </div>
                                            <button class="edit-button" (click)="ActivityDetail(activity)" ><i class="icon-pencil"></i></button>
                                          </div>
                                        </div>
                                      </div>
                                      


                                </div>
                            </div>
        </div>
    


<div class="modal fade" id="delaccount" tabindex="-1" role="dialog" aria-labelledby="delaccount" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body d-flex align-items-center flex-column justify-content-center alertbox">
            <img src="assets/images/loader.png" width="128"/>
            <h2>Are you sure?</h2>
            <p>Do you really want to delete the account?</p>
           </div>
           <div class="modal-footer text-center">
            <button type="button" class="btn btn-lg btn-outline-primary" data-dismiss="modal">NO</button>
            <button type="button" class="btn btn-lg btn-primary">YES</button>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="expdetails" tabindex="-1" role="dialog" aria-labelledby="expdetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Experience Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
  </div> 

  