
<div class="container-fluid">
<div class="block-header">
    <div class="row mb-2">
        <div class="col-lg-12">
        <ul class="breadcrumb">                          
          <li class="breadcrumb-item">Dashboard</li>
          <li class="breadcrumb-item active">Profile</li>
      </ul>
    </div>
      </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Profile</h2>
            
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="d-flex flex-row-reverse">
                <div class="page_action">

                </div>
                <div class="p-2 d-flex">
                    <button class="btn btn-danger mr-2" data-toggle="modal" data-target="#delaccount"><i class="fa fa-trash-o mr-2"></i>DELETE ACCOUNT</button>
                    <button class="btn btn-success mr-2" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>LOGOUT</button>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#delaccount"><i class="fa fa-pencil mr-2"></i>EDIT</button>
                </div>
            </div>
        </div> -->
    </div>
</div>  

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card whitebg">
            <div class="banner">
                <img src="../../../assets/images/login_bg.png"/>
                <button class="edit-button1"><i class="icon-pencil"></i></button>
            </div>  
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="media">
                                    <div class="media-left m-r-15">
                                        <img src="../../../assets/images/main_logo.png" class="user-photo media-object" alt="User">
                                        <h6 class="prof_title">{{userdetails.first_name}}</h6>
                                    </div> 
                                </div>
                                <div class="d-flex flex-row justify-content-end w-100 yop_btns"> 
                                     
                                    <button class="btn btn-secondary mr-2" data-toggle="modal" data-target="#delaccount"><i class="fa fa-pencil mr-2"></i>Edit Profile</button>
                                        <button class="btn btn-danger mr-2" data-toggle="modal" data-target="#delaccount"><i class="fa fa-trash-o mr-2"></i>Delete Account</button>
                                        <button class="btn btn-grey" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>Logout</button>
                                    
                                </div>
                                <div class="details_profile mt-3">  

                                        <div class="detailsInner">
                                            <span class="small">Email ID :</span>
                                            <span>{{userdetails.email_id}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Mobile Number :</span>
                                            <span>{{userdetails.mobile_no}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Age :</span>
                                            <span>{{userdetails.age}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>DOB :</span>
                                            <span>{{userdetails.dob | date:'dd/MM/yyyy' }}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Gender :</span>
                                            <span>{{userdetails.gender}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Cast :</span>
                                            <span>{{userdetails.caste}}</span>
                                        </div>
                                        <div class="detailsInner">
                                            <span>Address :</span>
                                            <span>{{userdetails.address_1}}</span>
                                        </div>
                                     
                                </div>
                            </div>
                            
                        </div>
                       
                    </div>

                   

                    
                </div>

                

                 

            </div>

            <div class="col-lg-12 mt-4">
                <h4>Experience Details</h4>
                <div class="card"> 
        
                            <div class="body text-center d-flex justify-content-center flex-column">
                               <img src="../../../assets/images/noactivity.png" class="loader_img"/>
                               <button class="btn btn-primary" data-toggle="modal" data-target="#expdetails">Add Professional Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="card"> 
                
                           
                                    <div class="body text-center d-flex justify-content-center flex-column" *ngIf="(Activities ?? []).length === 0">
                                       <img src="assets/images/loader.png" class="loader_img"/>
                                       <button class="btn btn-primary" data-toggle="modal" data-target="#addactivity">Activity</button>
                                    </div>
                                    <div class="activities-container">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                          <h2>Activities</h2>
                                          <div class="d-flex align-items-center">
                                            <div class="search"> 
                                                <input type="text" class="form-control round search_txt" [(ngModel)]="titlesearch" placeholder="Search">
                                                <button class="srch_icon" (click)="searchactivity()" ><i class="fa fa-search" ></i></button>
                                            </div>
                                            <button class="btn btn-primary"  data-toggle="modal" data-target="#addactivity" ><i class="icon-plus mr-2"></i> Add New</button>
                                        </div> </div>
                                        
                                        <div class="row">
                                          <div class="col-lg-3 mb-3" *ngFor="let activity of Activities">
                                            <div class="card no-bdr cursor">
                                            <div class="activity-image">
                                              <button class="delete-icon btn-danger" data-toggle="modal" data-target="#delaccount" (click)="setSelectedActivity(activity)">
                                                <i class="fa fa-trash"></i>
                                              </button>
                                           <img [src]="activity.thumbnail_image || '../../../assets/images/login_bg.png'" (click)="ActivityDetail(activity)" alt="Activity Image" />
                                            </div>
                                            <div class="card-body drop_shadow" (click)="ActivityDetail(activity)">
                                              <h3 class="active_title mb-0">{{ activity.Author }}</h3>
                                              <span class="active_timespan">{{ activity.Date }}</span>
                                              <div class="activity-meta mt-3">
                                                <span> {{ activity.title }} 
                                                </span> 
                                              </div>
                                             
                                            </div>
                                           
                                            <button class="edit-button" data-toggle="modal" data-target="#addactivity" (click)="EditActivity(activity)" ><i class="icon-pencil"></i></button>
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <!-- <div class="row">
                                        <div class="col-lg-12">
                                       
    <p class="note">
      Note: National/State Chairpersons of SC, ST, OBC, and Minority Depts are required to post the activities regularly, at least once a week, for generating month-wise, dept-wise activity reports for submission to Congress high command.
    </p>
  </div>
    <div class="body">
                                      <div class="tabs">
                                        <button
                                          class="tab"
                                          *ngFor="let tab of Activity; let i = index"
                                          [class.active]="activeTab === i"
                                          (click)="setActiveTab(i)">
                                          {{ tab.name }}
                                        </button>
                                      </div>
                                      
                                      <div class="card-body ht-200">
                                        <div *ngFor="let activity of Activity[activeTab]?.activities">
                                          <img [src]="activity.thumbnail_image" alt="{{ activity.title }}" />
                                          <h3>{{ activity.title }}</h3>
                                          <p class="date">{{ activity.Date }}</p>
                                          <p>{{ activity.description }}</p>
                                          <button  (click)="ActivityDetail(activity)" ><i class="icon-pencil"></i></button>
                                        </div>
                                       
                                        <div *ngIf="!(Activity[activeTab]?.activities?.length)">
                                          <p>No Activities are available</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div> -->
                                </div>
                            </div>
        </div>
    
    </div>
</div>
<div class="modal fade" id="delaccount" tabindex="-1" role="dialog" aria-labelledby="delaccount" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body mt-5 d-flex align-items-center flex-column justify-content-center alertbox">
            <img src="assets/images/loader.png" width="32" class="mb-2"/>
            <h2>Are you sure?</h2>
            <p>Do you really want to delete the account?</p>
           </div>
           <div class="modal-footer text-center">
            <button type="button" class="btn btn-lg btn-dark" data-dismiss="modal">No, Keep It.</button>
            <button type="button" class="btn btn-lg btn-danger"  (click)="DeleteActivity(selectedActivity)"  data-dismiss="modal" >Yes, Delete!</button>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="expdetails" tabindex="-1" role="dialog" aria-labelledby="expdetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Experience Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
  </div> 

  <div class="modal fade" id="addactivity" tabindex="-1" role="dialog" aria-labelledby="addactivity" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Activity</h5>
            <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <!-- <div class="block-header">
                       <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                               <a href="javascript::(0)" (click)="Back()" >
                               <i class="fa fa-arrow-left mr-2"></i></a>
                               <h2 class="mb-0">Activity</h2> 
                           </div>
                          
                       </div>
                   </div> -->
                  
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="my-input">Title</label>
                                <input id="my-input" class="form-control" placeholder="Enter Title" [(ngModel)]="clsactivity.title" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label >Date</label>
                                <input class="form-control" type="date" placeholder="Enter Date" [(ngModel)]="clsactivity.date_posting" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                      
                        <div class="col-lg-4">
                            <div class="form-group" >
                                <label >Type of Activity</label>
                                <select class="form-control" (change)="onActvitytypeChange($event)" [(ngModel)]="clsactivity.activity_type" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select Activity Type</option>
                                    <option *ngFor="let type of ActivityType" [value]="type.id">{{ type.name }}</option> 
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group"  >
                                <label >No of Participant</label>
                                <input id="my-input" class="form-control" type="number" placeholder="Enter Participant" [(ngModel)]="clsactivity.no_of_participants" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                       
            
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">State</label>
                                <select class="form-control" (change)="onstateChange($event)" [(ngModel)]="clsactivity.state_id" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select State</option>
                                    <option *ngFor="let state of states" [value]="state.STATEID">{{ state.STATENAME }}</option> 
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">City</label>
                                <select class="form-control" (change)="oncityChange($event)" [(ngModel)]="clsactivity.city_id" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select City</option>
                                    <option *ngFor="let city of cities" [value]="city.DISTRICTID">{{ city.DISTRICTNAME }}</option> 
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label">villages</label>
                                <select class="form-control" (change)="onvillageChange($event)" [(ngModel)]="clsactivity.village_id" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select villages</option>
                                    <option *ngFor="let village of villages" [value]="village.CityID">{{ village.CityName }}</option> 
                                    </select>
                            </div>
                        </div>
                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Description</label>
                                <textarea class="form-control" placeholder="Enter Description" [(ngModel)]="clsactivity.description" [ngModelOptions]="{standalone: true}" ></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Short Description</label>
                                <textarea class="form-control" placeholder="Enter Short Description" [(ngModel)]="clsactivity.short_desc" [ngModelOptions]="{standalone: true}"> </textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Friendly url</label>
                                <textarea class="form-control" placeholder="Enter Frienedly Url" [(ngModel)]="clsactivity.friendlyurl" [ngModelOptions]="{standalone: true}"> </textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label >Photo</label>
                          <div class="photo_div">
                            <div class="d-flex align-items-center">
                                <img src="../../../../assets/images/loader.png" width="32" height="32"/>
                                <div class="d-flex flex-column up_div">
                                    <h4>Upload Photo</h4>
                                    <span>.jpeg,.jpg files upto 200KB</span>
                                </div>
                            </div>
                            <button  class="btn btn-primary">
                            <input type="file" style="opacity: 0;position: absolute;width: 50px;" (change)="onFileChange($event)">
                            Browse
                        </button>
                        </div>
                      </div>
                           
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label >Photo</label>
                          <div class="photo_div">
                            <div class="d-flex align-items-center">
                                <img src="../../../../assets/images/loader.png" width="32" height="32"/>
                                <div class="d-flex flex-column up_div">
                                    <h4>Upload Detailed Report</h4>
                                    <span>.pdf,.doc,.xlsx files upto 200KB</span>
                                </div>
                            </div>
                            <button  class="btn btn-primary">
                            <input type="file" style="opacity: 0;position: absolute;width: 50px;" (change)="onFileChange($event)">
                            Browse
                        </button>
                        </div>
                      </div>
                      </div>
                    </div>
               
                    
            </div>   

            

          </div>
          <div class="modal-footer ">
            <button type="button"  class="btn btn-lg btn-outline-primary" data-dismiss="modal" (click)="CancelActivity()">Cancel</button>
             <button type="button" class="btn btn-lg btn-primary" (click)="SaveActivity()">Save</button>
          </div>
        </div>
      </div>
  </div> 
  