<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 mx-auto rg_div"> 
                   <div class="d-flex align-items-center justify-content-between">
                    <img src="../../../assets/images/rahul_bg.png" class="rahul_bg"/>
                    
                    <div class="d-flex flex-column align-items-start pad">
                        <h2 class="footer_link_title">
                            Newsletter
                         </h2>
                         <p>Subscribe to our newsletter and stay updated!</p>
                    </div>
                 
                     <div class="d-flex align-items-center mt-2 mb-flex">
                        <input type="email"     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  placeholder="Email" [(ngModel)]="EmailAddress"  class="form-control mr-3 srch_txbox"/>
                        <button class="btn btn-primary nowrap" (click)="subscribeEmail()">Subscribe <img src="../../../assets/images/btn_arrow.png"  class="btn_arrow ml-2"/></button>
                      
                    </div>
                    </div>
            </div>
        </div>
        <div class="row pt-foot">
            <div class="col-lg-3">
                <img src="../../../assets/images/logo.png" class="mb-4"/>
                <h2 class="footer_link_title">
                    Indian National Congress
                </h2>
                <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <a href="tel:+91 11 2301 9080">Tel: +91 11 2301 9080</a>
                    <a href="tel:+91 11 2301 7047">Fax: +91 11 2301 7047</a>
                    <a href="mailto:aaicportal@gmail.com">connectinc.in</a>
                </div>
                <h2 class="footer_link_title">
                   Address
                </h2>
                <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                  <p>Indian National Congress
                    24, Akbar Road, New Delhi 110
                    011, INDIA</p>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="footer_link_title">
                    Quick Links
                 </h2>
                 <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <ul class="quick_links">
                        <li><a href="javascript::(0)" (click)="redirect_page('CO')">AICC Organisation</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('CL')">Congress Leaders</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('CO')">Leadership Development Mission (LDM)</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('CL')">Elections, Elected Members Data</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('Activities')">Activities of SC, ST, OBC & Minority Dept</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('Meetings')">Online Trainings</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('KB')">Knowledge Base - (Document Repository)</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('Meetings')">Meetings & Communications</a></li>
                    </ul>
                 </div>
            </div>
            <div class="col-lg-2">
                <h2 class="footer_link_title">
                    Information
                 </h2>
                 <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <ul class="quick_links">
                        <li><a href="javascript::(0)">About AICC</a></li>
                        <li><a href="javascript::(0)">Privacy Policy</a></li>
                        <li><a href="javascript::(0)">Terms & Conditions</a></li>
                        <li><a href="javascript::(0)">Disclaimer</a></li>
                        <li><a href="javascript::(0)">FAQ's</a></li>
                        <li><a href="javascript::(0)">Contact Us</a></li> 
                    </ul>
                 </div>
            </div>
            
        </div>
       
    </div>
    <div class="text-center mt-4 bg-light text-black p-2 d-flex justify-content-between align-items-center copy-right">
        <p class="mb-0">© 2024 All India Congress Committee. All Rights Reserved.</p>
        <div class="social-icons mt-2">
          <a href="#" class="text-white mr-3"><img src="../../../assets/images/Group 28070.svg" alt=""></a>
          <a href="#" class="text-white mr-3"><img src="../../../assets/images/Group 28071.svg" alt=""></a>
          <a href="#" class="text-white mr-3"><img src="../../../assets/images/Group 28072.svg" alt=""></a>
          <a href="#" class="text-white"><img src="../../../assets/images/Group 28073.svg" alt=""></a>
        </div>
      </div>
</div>
