<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="footer_link_title">
                    Contact Us
                </h2>
                <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <a href="tel:+91 987 654 3210">+91 987 654 3210</a>
                    <a href="mailto:aaicportal@gmail.com">aaicportal#64;gmail.com</a>
                </div>
                <h2 class="footer_link_title">
                   Address
                </h2>
                <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                  <p>Lorem Ipsum simply dummy text.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="footer_link_title">
                    Quick Links
                 </h2>
                 <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <ul class="quick_links">
                        <li><a href="javascript::(0)">AICC Organisation</a></li>
                        <li><a href="javascript::(0)">Congress Leaders</a></li>
                        <li><a href="javascript::(0)">Leadership Development Mission (LDM)</a></li>
                        <li><a href="javascript::(0)">Elections, Elected Members Data</a></li>
                        <li><a href="javascript::(0)">Activities of SC, ST, OBC & Minority Dept</a></li>
                        <li><a href="javascript::(0)">Online Trainings</a></li>
                        <li><a href="javascript::(0)">Knowledge Base</a></li>
                        <li><a href="javascript::(0)">Meetings & Communications</a></li>
                    </ul>
                 </div>
            </div>
            <div class="col-lg-2">
                <h2 class="footer_link_title">
                    Information
                 </h2>
                 <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <ul class="quick_links">
                        <li><a href="javascript::(0)">About AICC</a></li>
                        <li><a href="javascript::(0)">Privacy Policy</a></li>
                        <li><a href="javascript::(0)">Terms & Conditions</a></li>
                        <li><a href="javascript::(0)">Disclaimer</a></li>
                        <li><a href="javascript::(0)">FAQ's</a></li>
                        <li><a href="javascript::(0)">Contact Us</a></li> 
                    </ul>
                 </div>
            </div>
            <div class="col-lg-3">
                <h2 class="footer_link_title">
                    Newsletter
                 </h2>
                 <p>Lorem Ipsum simply dummy text.</p>
                 <div class="d-flex align-items-center mt-2">
                    <input type="email"  placeholder="Email" class="form-control mr-3 srch_txbox"/>
                    <button class="btn btn-white">Subscribe</button>
                 </div>
            </div>
        </div>
    </div>
</div>
