<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 mx-auto rg_div"> 
                   <div class="d-flex align-items-center justify-content-between">
                    <img src="../../../assets/images/rahul_bg.png" class="rahul_bg"/>
                    
                    <div class="d-flex flex-column align-items-start pad">
                        <h2 class="footer_link_title">
                            Newsletter
                         </h2>
                         <p>Lorem Ipsum simply dummy text.</p>
                    </div>
                 
                     <div class="d-flex align-items-center mt-2 mb-flex">
                        <input type="email"  placeholder="Email" class="form-control mr-3 srch_txbox"/>
                        <button class="btn btn-primary nowrap">Subscribe <img src="../../../assets/images/btn_arrow.png"  class="btn_arrow ml-2"/></button>
                     </div>
                    </div>
            </div>
        </div>
        <div class="row pt-foot">
            <div class="col-lg-3">
                <img src="../../../assets/images/logo.png" class="mb-4"/>
                <h2 class="footer_link_title">
                    Indian National Congress
                </h2>
                <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <a href="tel:+91 987 654 3210">+91 987 654 3210</a>
                    <a href="mailto:aaicportal@gmail.com">info#64;aiccmember.com</a>
                </div>
                <h2 class="footer_link_title">
                   Address
                </h2>
                <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                  <p>Lorem Ipsum simply dummy text.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="footer_link_title">
                    Quick Links
                 </h2>
                 <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <ul class="quick_links">
                        <li><a href="javascript::(0)" (click)="redirect_page('CO')">AICC Organisation</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('CL')">Congress Leaders</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('CO')">Leadership Development Mission (LDM)</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('CL')">Elections, Elected Members Data</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('Activities')">Activities of SC, ST, OBC & Minority Dept</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('Meetings')">Online Trainings</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('CO')">Knowledge Base</a></li>
                        <li><a href="javascript::(0)" (click)="redirect_page('Meetings')">Meetings & Communications</a></li>
                    </ul>
                 </div>
            </div>
            <div class="col-lg-2">
                <h2 class="footer_link_title">
                    Information
                 </h2>
                 <div class="d-flex flex-column justify-content-start align-items-start mb-3">
                    <ul class="quick_links">
                        <li><a href="javascript::(0)">About AICC</a></li>
                        <li><a href="javascript::(0)">Privacy Policy</a></li>
                        <li><a href="javascript::(0)">Terms & Conditions</a></li>
                        <li><a href="javascript::(0)">Disclaimer</a></li>
                        <li><a href="javascript::(0)">FAQ's</a></li>
                        <li><a href="javascript::(0)">Contact Us</a></li> 
                    </ul>
                 </div>
            </div>
            
        </div>
    </div>
</div>
