.footer{
    background: #2699fb;
    width: 100%;
    padding: 50px 30px;
    position: relative;
    margin-top: 10%;
}

.footer_link_title{
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    margin-bottom: 15px;
}

.footer a, .footer p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}

.quick_links{
    margin: 0;
    padding: 0;
}

.quick_links li{
    list-style-type: none;
    margin-bottom: 5px;
}

.srch_txbox{
    background-color: transparent !important; 
    border:1px solid #fff;
    color: #fff !important;
    border-radius: 50px !important;
    width: 300px;
}
::placeholder{
    color: #fff;
}
.btn-white{
    background-color: #fff;
    border-color: #fff;
    padding: 12px 15px;
}

.pt-foot{
    padding-top: 6%;
}

.rg_div{
    background: #2C393F;
    border-radius: 20px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -25%;
    padding:60px 30px;
    
} 

.rahul_bg{
    position: absolute;
    bottom: 0;
    width: 270px;
}

.pad{
    padding-left: 25%;
}

.copy-right{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    padding: 5px 20px !important;
}
.copy-right p{
    color: #000;
}

@media only screen and (max-width: 767px) {
    .pad{
        padding-left: 0%;
        width: 100% !important;
    }
    .rahul_bg{
        display: none;
    }
    .rg_div > div{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .srch_txbox{
        width: 100%;
    }
    .rg_div{
        padding: 20px;
        top:-100px
    }
    .pt-foot{
        padding-top: 90px;
    }
    .footer{
        margin-top: 150px;
    }
    .nowrap{ 
        margin-top: 20px;
    }
    .mb-flex{
        flex-direction: column !important;
        align-items: flex-start !important;
        width: 100%;
    }
    .copy-right{
        flex-direction: column !important;
    }
}
