<div class="container-fluid">
    <div class="block-header">
           <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                   <a href="javascript::(0)" (click)="backtohome()">
                   <i class="fa fa-arrow-left mr-2"></i></a>
                   <h2 class="mb-0">Schedule a Meeting</h2> 
               </div>
              
           </div>
       </div>

<div class="row mt-5 mb-5">
     
    <div class="col-lg-5">
        <div class="row mt-3 mb-3">
            <div class="col-lg-12">
            <mat-radio-group class="custom-radio-group" aria-label="Select an option" [(ngModel)]="selectedOption" (change)="onOptionChange()">
                <mat-radio-button  value="1" [(ngModel)]="clsinvite.isonline" color="primary">Physical Meeting</mat-radio-button>
                <mat-radio-button value="0" [(ngModel)]="clsinvite.isonline" color="primary">Zoom Meeting</mat-radio-button>
              </mat-radio-group>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="my-input">Title</label>
                    <input id="my-input" class="form-control" placeholder="Enter Title" [(ngModel)]="clsinvite.title" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label >Date</label>
                    <input class="form-control" type="date" placeholder="Enter Date" [(ngModel)]="clsinvite.date" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label >Time</label>
                    <input class="form-control" type="time" placeholder="Enter Time" [(ngModel)]="clsinvite.time" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group" >
                    <label >Organisers</label>
                    <select class="form-control" [(ngModel)]="clsinvite.organizer" [ngModelOptions]="{standalone: true}">
                        <option>Select Organisers</option>
                        <option value="1">AICC</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group"  >
                    <label >Notification</label>
                    <select class="form-control" [(ngModel)]="clsinvite.notification" [ngModelOptions]="{standalone: true}">
                        <option>Notification Type</option>
                        <option value="1">Email</option>
                        <option value="2">SSM</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label ></label>
                    <input class="form-control" type="number" placeholder="Enter Duration" [(ngModel)]="clsinvite.duration" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label ></label>
                    <select class="form-control"  [(ngModel)]="clsinvite.durationtype" [ngModelOptions]="{standalone: true}">
                        <option>Seconds</option>
                        <option>Minutes</option>
                        <option>Hour[s]</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label >Description</label>
                    <textarea class="form-control" placeholder="Enter Description" [(ngModel)]="clsinvite.description" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card_title">Add People</h5>
                <span class="card_span">(only 100 people allowed in one meeting)</span>
                <div class="mt-2 mb-2 w-100">
                    <mat-checkbox class="example-margin" color="primary">All Members</mat-checkbox>
                </div>
<div id="accordion"> 
                <div class="row">
                    <div class="col-lg-12">
                        <h6>Organisation</h6>
                    </div> 
                    <div class="col-lg-4"> 
                            <div class="card-header" id="headingOne">
                                <mat-checkbox class="example-margin" color="primary">AICC</mat-checkbox>
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                 <i class="fa fa-caret-down"></i>
                                </button> 
                              </div>
                          
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                    <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                    <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                    <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox> 
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4"> 
                                <div class="card-header" id="headingTwo"> 
                                        <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                       <i class="fa fa-caret-down"></i>
                                      </button> 
                                  </div>
                              
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                        <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                        <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                        <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-lg-4"> 
                                    <div class="card-header" id="headingThree"> 
                                            <mat-checkbox class="example-margin" color="primary">SC Dept</mat-checkbox>
                                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                           <i class="fa fa-caret-down"></i>
                                          </button> 
                                      </div>
                                  
                                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                            <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                            <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                            <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>  
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-4"> 
                                        <div class="card-header" id="headingFour"> 
                                                <mat-checkbox class="example-margin" color="primary">ST Dept</mat-checkbox>
                                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                               <i class="fa fa-caret-down"></i>
                                              </button> 
                                          </div>
                                      
                                          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                            <div class="card-body">
                                                <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                                <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                                <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                                <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox> 
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-4"> 
                                            <div class="card-header" id="headingFive"> 
                                                    <mat-checkbox class="example-margin" color="primary">OBC Dept</mat-checkbox>
                                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                                   <i class="fa fa-caret-down"></i>
                                                  </button> 
                                              </div>
                                          
                                              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                                <div class="card-body">
                                                    <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                                    <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                                    <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                                    <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>  
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-lg-4"> 
                                                <div class="card-header" id="headingSix"> 
                                                        <mat-checkbox class="example-margin" color="primary">Minority Dept</mat-checkbox>
                                                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                                       <i class="fa fa-caret-down"></i>
                                                      </button> 
                                                  </div>
                                              
                                                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                                        <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                                        <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox>
                                                        <mat-checkbox class="example-margin" color="primary">PCCs</mat-checkbox> 
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-lg-12 mt-1 mb-1" >
                                                    <h6>Designation</h6>
                                                </div>
                                                <div *ngFor="let designation of designationsList">
                                                    <mat-checkbox
                                                      class="example-margin"
                                                      [(ngModel)]="clsinvite.designations"
                                                      [value] ="designation.id"
                                                      color="primary">
                                                      {{ designation.name }}
                                                    </mat-checkbox>
                                                  </div>

<!-- 
                                                <div class="col-lg-4">
                                                    <mat-checkbox class="example-margin" [(ngModel)]="clsinvite.designations" color="primary">Hon'ble Cong President</mat-checkbox>
                                                </div>
                                                <div class="col-lg-4">
                                                    <mat-checkbox class="example-margin" [(ngModel)]="clsinvite.designations" color="primary">President</mat-checkbox>
                                                </div>
                                                <div class="col-lg-4">
                                                    <mat-checkbox class="example-margin" [(ngModel)]="clsinvite.designations" color="primary">Chairman</mat-checkbox>
                                                </div>
                                                <div class="col-lg-4">
                                                    <mat-checkbox class="example-margin" [(ngModel)]="clsinvite.designations" color="primary">General Secrateries</mat-checkbox>
                                                </div>
                                                <div class="col-lg-4">
                                                    <mat-checkbox class="example-margin" [(ngModel)]="clsinvite.designations" color="primary">Treasurer</mat-checkbox>
                                                </div>
                                                <div class="col-lg-4">
                                                    <mat-checkbox class="example-margin" [(ngModel)]="clsinvite.designations" color="primary">Secrateries</mat-checkbox>
                                                </div>
                                                <div class="col-lg-4">
                                                    <mat-checkbox class="example-margin" [(ngModel)]="clsinvite.designations" color="primary">Joint Secrateries</mat-checkbox>
                                                </div>
                                                <div class="col-lg-4">
                                                    <mat-checkbox class="example-margin" [(ngModel)]="clsinvite.designations" color="primary">Incharges</mat-checkbox>
                                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>

        <div class="col-lg-12 mt-4 mb-4 text-center">
            <button class="btn btn-lg btn-outline-primary mr-2" (click)="cancel()">Cancel</button>
            <button class="btn btn-lg btn-primary" (click)="invite()">Invite</button>
        </div>
    </div> 


    
</div>   


