
::ng-deep .mdc-form-field > label{
    color: #000 !important; // Use your primary color

}
 
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
border: 1px solid #D5D5D5 !important; /*change radio button not checked border */
background-color: #fff;
}
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle{
background-color: #fff;
}

::ng-deep .mat-checkbox {
    .mat-checkbox-ripple .mat-ripple-element {
        background-color: #fff !important;
    }
    .mat-checkbox-frame {
        border-color: #D5D5D5 !important;
    }
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
    border-color: #D5D5D5 !important;
}

.card-header{
    padding: 15px 15px 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent !important;
    border:none !important
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.4) sepia(80%) saturate(1000%) hue-rotate(200deg);
}
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(0.4) sepia(80%) saturate(1000%) hue-rotate(200deg);
}

.collapse-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }
  .angular-editor-wrapper,.angular-editor-textarea{
    height: 15rem!important;
  }
  .collapse-container.open {
    max-height: 1000px; /* Set a sufficiently large value */
  }
.pd_top {
  margin-top: 2%;
}
  .add_bg{
    background-color: #F3F5F6;
  }

  .ht-200{
    height: 200px;
    overflow-y: auto;
  }
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .list-group {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color: #f0f0f0;
  }

  
  .chkbx{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

 
  