.storage{
    font-size: 14px; 
}
.storage i{
    margin-right: 5px
}

.lang{
    color:var(--heading-color)
}

.dropdown-item.active, .dropdown-item:active{
    color:  #fff !important;
}
 
.pr_btn{
    background: #fff !important;
    border-radius: 20px;
} 
.pr_btn .dropdown-toggle::after{
    color: #000 !important;
}
.btn-white{
    background-color: #fff;
    border: #fff;
    padding: 10px 15px !important;
}
.btn-white:hover{
    color: #000 !important;
}
@media only screen and (max-width: 767px) {
    .lang{
        margin-bottom: 0 !important;
    }
    .menu{
        flex-direction: column;
    }
   
}