:root {
    --dark-color: #323a45;
    --heading-color: #222222;
    --font-color: #555555;
    --font-white: #ffffff;
    --font-light: #888888;
    --font-xlight: #f0f0f0;
    --font-ccc: #cccccc;
    --text-muted: #9a9a9a;
    --border-color: #e2e2e2;
    --card-color: #f1f9ff;
    --white-color: #ffffff;
    --body-color: #fcfcfc;
    --box-shadow: #c7c1c1;
    --box-shadow-light: #ececec;
    --font-hc-color: #888888;
    --bg-hc-color: #323a45;
}
[data-theme="dark"] {
    --dark-color: #ffffff;
    --heading-color: #c0c0c0;
    --font-color: #c7c7c7;
    --font-white: #ffffff;
    --font-light: #888888;
    --font-xlight: #333638;
    --font-ccc: #cccccc;
    --text-muted: #80858a;
    --border-color: #3b3f42;
    --card-color: #26282a;
    --white-color: #000000;
    --body-color: #222426;
    --box-shadow: #585858;
    --box-shadow-light: #323536;
    --font-hc-color: #888888;
    --bg-hc-color: #ffffff;
}
[data-theme="high-contrast"] {
    --dark-color: #ffffff;
    --heading-color: #ffffff;
    --font-color: #ffffff;
    --font-white: #ffffff;
    --font-light: #000000;
    --font-xlight: #ffffff;
    --font-ccc: #111111;
    --text-muted: #ffffff;
    --border-color: #ffffff;
    --card-color: #000000;
    --white-color: #000000;
    --body-color: #000000;
    --box-shadow: #333333;
    --box-shadow-light: #333333;
    --font-hc-color: #ffffff;
    --bg-hc-color: #000000;
}
[class="theme-purple"] {
    --primary-color: #7954ad;
    --primary-color2: #7b54b1;
    --primary-color3: #a37adb;
    --secondary-color: #e76886;
    --secondary-color2: rgb(223, 126, 148);
    --link-color: #59c4bc;
    --primary-gradient: linear-gradient(45deg, #7b54b1, #e76886);
}
[class="theme-blue"] {
    --primary-color: #2929b9;
    --primary-color2: #4343d3;
    --primary-color3: #6c6cff;
    --secondary-color: #f99006;
    --secondary-color2: #f92f47;
    --link-color: #87b70a;
    --primary-gradient: linear-gradient(45deg, #2929b9, #87b70a);
}
[class="theme-cyan"] {
    --primary-color: #19aaed;
    --primary-color2: #33bab0;
    --primary-color3: #8bcec9;
    --secondary-color: #2C393F;
    --secondary-color2: #00acee;
    --link-color: #e76886;
    --primary-gradient: linear-gradient(45deg, #59c4bc, #637aae);
}
[class="theme-green"] {
    --primary-color: #38c172;
    --primary-color2: #249d57;
    --primary-color3: #187741;
    --secondary-color: #0957c3;
    --secondary-color2: #5589d2;
    --link-color: #fed500;
    --primary-gradient: linear-gradient(45deg, #38c172, #249d57);
}
[class="theme-orange"] {
    --primary-color: #ffa901;
    --primary-color2: #ff7f00;
    --primary-color3: #fbc200;
    --secondary-color: #600489;
    --secondary-color2: #9439bc;
    --link-color: #38c172;
    --primary-gradient: linear-gradient(45deg, #ffa901, #600489);
}
[class="theme-blush"] {
    --primary-color: #ff6a4a;
    --primary-color2: #f5856d;
    --primary-color3: #fbc200;
    --secondary-color: #87b70a;
    --secondary-color2: #aad736;
    --link-color: #056cdb;
    --primary-gradient: linear-gradient(45deg, #ff6a4a, #aad736);
}
[class="theme-red"] {
    --primary-color: #f40000;
    --primary-color2: #f92c2c;
    --primary-color3: #f14f4f;
    --secondary-color: #030886;
    --secondary-color2: #252bcf;
    --link-color: #c7e203;
    --primary-gradient: linear-gradient(45deg, #f40000, #252bcf);
}
.h_menu #main-content {
    margin: 95px 0 0 0;
    width: 100% !important;
}
@media only screen and (max-width: 640px) {
    .h_menu #main-content {
        padding: 0;
    }
}
.h_menu .over-menu {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: fixed;
    height: 100%;
    content: "";
    width: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
}
.h_menu.open-menu {
    left: -250px;
}
.h_menu.open-menu .over-menu {
    visibility: visible;
    opacity: 1;
}
.h_menu.open-menu .menu-container {
    right: 0 !important;
}
.h_menu.open-menu header {
    background: transparent;
    border-color: transparent;
}
@media (max-width: 991px) {
    .h_menu.open-menu header .hamburger-menu {
        position: fixed;
        top: 10px;
        right: 15px;
        margin: initial;
    }
}
.h_menu .setting_div {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 25px 0 var(--box-shadow-light);
    position: fixed;
    right: -250px;
    top: 0;
    height: 100vh;
    width: 230px;
    z-index: 999;
    padding: 20px;
    background: var(--white-color);
}
.h_menu .setting_div.open {
    right: 0;
}
.h_menu header {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #2699fb;
    border-bottom: 0px solid var(--border-color);
    width: 100%;
    float: left;
    position: fixed;
    z-index: 100;
    padding: 10px 0;
}
.h_menu header::before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform-origin: 0;
    background: var(--white-color);
    position: absolute;
    width: 100%;
    content: "";
    top: 0;
    right: 0;
    height: 0;
}
.h_menu header .desk-menu {
    position: relative;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h_menu header .desk-menu .logo {
    float: left;
}
.h_menu header .desk-menu .logo .navbar-nav {
    flex-direction: row;
    margin-left: 30px !important;
}
.h_menu header .desk-menu .logo .navbar-nav li > a {
    font-size: 14px;
    margin-top: 5px;
}
.h_menu header .desk-menu .logo .navbar-nav .dropdown-menu {
    transform: none !important;
}
.h_menu header .desk-menu .logo-adn {
    margin: 5px 0 0;
    position: relative;
    display: table;
    z-index: 1;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.h_menu header .desk-menu .logo-adn a { 
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 120px;
    height: 40px;
    font-size: 0;
}
.h_menu header .desk-menu .box-menu {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    padding: 0;
    display: block; 
    float: right;
    text-align: center;
}
.h_menu header .desk-menu .menu-container {
    float: left;
}
.h_menu header .desk-menu .menu-container .menu-head,
.h_menu header .desk-menu .menu-container .menu-foot {
    width: 100%;
    float: left;
    display: none;
}
.h_menu header .desk-menu .menu-container .menu-head {
    background: var(--primary-color);
    padding: 16px 10px;
}
.h_menu header .desk-menu .menu-container .menu-head .e1 {
    padding: 3px 0;
    float: left;
}
.h_menu header .desk-menu .menu-container .menu-head .e1 img {
    width: 29px;
    float: left;
    height: 29px;
}
.h_menu header .desk-menu .menu-container .menu-foot {
    position: absolute;
    bottom: 0;
    padding: 15px 0;
}
.h_menu header .desk-menu .menu-container .menu-foot .social {
    display: table;
    margin: 0 auto;
}
.h_menu header .desk-menu .menu-container .menu-foot .social a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
    margin: 0 5px 0 0;
    color: var(--white-color);
    font-size: 13px;
    text-align: center;
    padding: 5px 0;
    border-radius: 50%;
    background: var(--font-light);
    width: 29px;
    height: 29px;
}
.h_menu header .desk-menu .menu-container .menu-foot .social a:last-child {
    margin: 0;
}
.h_menu header .desk-menu .menu-container .menu-foot .social a:hover {
    background: var(--font-light);
}
.h_menu header .desk-menu .menu-container .menu-foot hr {
    margin: 15px auto 20px;
    display: table;
    width: calc(100% - 20px);
}
.h_menu header .desk-menu .menu-container .menu-foot address {
    position: relative;
    text-align: left;
    padding: 0 15px;
    margin: 0;
}
.h_menu header .desk-menu .menu-container .menu-foot address i {
    position: absolute;
    left: 0;
    top: 0;
}
.h_menu header .desk-menu .menu-container .menu-foot address span {
    padding: 0 0 0 20px;
    margin-bottom: 5px;
    font-size: 12px;
    position: relative;
    display: block;
}
.h_menu header .desk-menu .menu-container .menu {
    float: left;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
.h_menu header .desk-menu .menu-container .menu li.back {
    display: none;
}
.h_menu header .desk-menu .menu-container .menu > li {
    -webkit-transition: all 0.33s ease;
    -moz-transition: all 0.33s ease;
    -ms-transition: all 0.33s ease;
    -o-transition: all 0.33s ease;
    transition: all 0.33s ease;
    margin: 0 10px 0 10px;
    float: left;
    cursor: pointer;
    position: relative;
    overflow: inherit; 
}
.h_menu header .desk-menu .menu-container .menu > li a {
    position: relative;
    font-size: 13px;
    padding: 15px 5px;
    display: block;
    color: #000; 
    line-height: 15px;
    text-align: left;  
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children > a {
    position: relative;
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
    box-shadow: 1px 2px 4px rgba(46, 61, 73, 0.2);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-overflow-scrolling: touch;
    min-width: 200px;
    position: absolute;
    list-style: none;
    background: var(--white-color);
    padding: 0;
    float: left;
    display: table;
    left: 0;
    width: 100%;
    float: left;
    display: none;
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li {
    width: 100%;
    -webkit-transition: all 0.33s ease;
    -moz-transition: all 0.33s ease;
    -ms-transition: all 0.33s ease;
    -o-transition: all 0.33s ease;
    transition: all 0.33s ease;
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
    color: var(--font-color);
    padding: 6px 12px;
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a i {
    position: absolute;
    right: 15px;
    top: 10px;
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li .sub-menu {
    display: none;
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > a {
    display: block;
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu {
    display: block;
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a,
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.active > a {
    color: var(--primary-color);
    background-color: var(--font-xlight);
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
    left: 100%;
    margin-top: -43px;
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children a {
    text-align: left;
}
.h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children a:hover {
    margin-top: 0;
}
@media only screen and (min-width: 992px) {
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children.li_right_side .sub-menu {
        right: 0;
        left: auto;
    }
}
.h_menu header .desk-menu .menu-container .menu > li.line {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    bottom: 11px;
    left: 0;
    height: 0px;
    pointer-events: none;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
    -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
    transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
    opacity: 0;
    display: block;
}
.h_menu header .desk-menu .menu-container .menu > li:hover > a {
    color: #fff;
}
.h_menu header .desk-menu .menu-container .menu > li:hover > a::before {
    -webkit-transform: translateX(5px) rotate(-45deg);
    -moz-transform: translateX(5px) rotate(-45deg);
    -ms-transform: translateX(5px) rotate(-45deg);
    -o-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
    width: 10px;
    right: 12px;
}
.h_menu header .desk-menu .menu-container .menu > li:hover > a::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    right: 7px;
}
.h_menu header .desk-menu .menu-container .menu > li:hover.menu-item-has-children .sub-menu {
    display: block;
}
.h_menu header .hamburger-menu {
    display: none;
}
.h_menu header.small::before {
    box-shadow: 0px 5px 25px 0 var(--box-shadow-light);
    height: 100%;
}
.h_menu header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::before,
.h_menu header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
    background-color: var(--font-color);
}
.h_menu header.small .desk-menu .box-menu {
    padding: 0;
}
.h_menu header.small .desk-menu .box-menu ul li a {
    color: var(--font-color);
}
@media (max-width: 991px) {
    .h_menu header .hamburger-menu {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: block;
        position: absolute;
        top: 38px;
        bottom: 0;
        margin: auto;
        width: 32px;
        height: 30px;
        cursor: pointer;
        right: 0;
        z-index: 11;
    }
    .h_menu header .hamburger-menu span {
        left: calc(-100% + -5px);
        padding: 8px 9px 8px 0;
        top: calc(50% - 18px);
        position: absolute;
        font-size: 13px;
        color: var(--white-color);
    }
    .h_menu header .hamburger-menu .bar,
    .h_menu header .hamburger-menu .bar::after,
    .h_menu header .hamburger-menu .bar::before {
        width: 30px;
        height: 2px;
    }
    .h_menu header .hamburger-menu .bar {
        position: relative;
        -webkit-transform: translateY(25px);
        -moz-transform: translateY(25px);
        -ms-transform: translateY(25px);
        -o-transform: translateY(25px);
        transform: translateY(25px);
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
        background: #fff;
        top: -7px;
    }
    .h_menu header .hamburger-menu .bar::before,
    .h_menu header .hamburger-menu .bar::after {
        position: absolute;
        background: #fff;
        content: "";
        left: 0;
        border-radius: 5px;
    }
    .h_menu header .hamburger-menu .bar::before {
        bottom: 10px;
        -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .h_menu header .hamburger-menu .bar::after {
        top: 10px;
        -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .h_menu header .hamburger-menu .bar.animate {
        background: rgba(var(--white-color), 0);
    }
    .h_menu header .hamburger-menu .bar.animate::after {
        top: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .h_menu header .hamburger-menu .bar.animate::before {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .h_menu header .desk-menu .box-menu ul li a {
        color: var(--white-color) !important;
        border-bottom: 1px solid var(--border-color);
    }
    .h_menu header .desk-menu .menu-container {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: var(--white-color);
        position: fixed;
        height: 100%;
        width: 250px;
        right: -250px;
        top: 0;
    }
    .h_menu header .desk-menu .menu-container .menu-header-container {
        position: relative;
        float: left;
    }
    .h_menu header .desk-menu .menu-container .menu-header-container ul {
        padding: 10px !important;
    }
    .h_menu header .desk-menu .menu-container .menu {
        margin: 0;
    }
    .h_menu header .desk-menu .menu-container .menu li.back {
        position: relative;
        display: block;
    }
    .h_menu header .desk-menu .menu-container .menu li.back a {
        padding: 12px 12px 12px 35px !important;
    }
    .h_menu header .desk-menu .menu-container .menu li.back a::before,
    .h_menu header .desk-menu .menu-container .menu li.back a::after {
        background-color: var(--font-color);
        position: absolute;
        content: "";
        height: 2px;
        width: 7px;
        top: 23px;
    }
    .h_menu header .desk-menu .menu-container .menu li.back a::before {
        -webkit-transform: rotate(-45deg) !important;
        -moz-transform: rotate(-45deg) !important;
        -ms-transform: rotate(-45deg) !important;
        -o-transform: rotate(-45deg) !important;
        transform: rotate(-45deg) !important;
        top: 20px !important;
        right: inherit !important;
        left: 15px !important;
    }
    .h_menu header .desk-menu .menu-container .menu li.back a::after {
        -webkit-transform: rotate(45deg) !important;
        -moz-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        -o-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        top: 24px !important;
        left: 15px !important;
    }
    .h_menu header .desk-menu .menu-container .menu li.line {
        display: none !important;
    }
    .h_menu header .desk-menu .menu-container .menu > li {
        width: 100%;
        float: left;
        margin: 0;
        text-align: left;
    }
    .h_menu header .desk-menu .menu-container .menu > li a {
        padding: 12px;
        color: var(--font-color) !important;
    }
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children {
        position: initial;
    }
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children a {
        padding: 12px 6px;
    }
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
        box-shadow: none;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        display: block !important;
        background: var(--white-color);
        z-index: 1;
        top: 0;
        left: 100%;
        height: 100%;
    }
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
        margin-top: 0;
    }
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu.open-sub {
        left: 0%;
    }
    .h_menu header .desk-menu .menu-container .menu-head {
        display: block;
    }
    .h_menu header .desk-menu .menu-container .menu-foot {
        display: block;
    }
    .h_menu header.small .hamburger-menu span {
        color: var(--font-color);
    }
    .h_menu header.small .hamburger-menu .bar {
        background: var(--font-color);
    }
    .h_menu header.small .hamburger-menu .bar::before,
    .h_menu header.small .hamburger-menu .bar::after {
        background: var(--font-color);
    }
    .h_menu header.small .hamburger-menu .bar.animate {
        background: rgba(var(--white-color), 0);
    }
}
@media (max-width: 767px) {
    
    .tabsearch, .tabseachBar{
        flex-direction: column;
    }
    .search{
        width: 100%;
    }
    .dropdown-toggle::after{
        color: #000000 !important;
    }
    .h_menu header .desk-menu{
        display: block !important;
    }
    .h_menu header .desk-menu .menu-container .menu li.back a {
        padding: 8px 12px 8px 35px !important;
    }
    .h_menu header .desk-menu .menu-container .menu li.back a::before {
        top: 17px !important;
    }
    .h_menu header .desk-menu .menu-container .menu li.back a::after {
        top: 21px !important;
    }
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
        top: 18px;
    }
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
        top: 22px;
    }
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
        padding: 10px 12px;
    }
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
        top: 18px;
    }
    .h_menu header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
        top: 22px;
    }
}
@media (max-width: 481px) {
    .h_menu header .desk-menu .logo-adn a {
        width: 100px;
        height: 30px;
    }
    .h_menu header .hamburger-menu {
        top: 28px;
        right: 0;
    }
    .h_menu header .hamburger-menu .bar,
    .h_menu header .hamburger-menu .bar::after,
    .h_menu header .hamburger-menu .bar::before {
        width: 30px;
        height: 3px;
    }
    .h_menu header .hamburger-menu .bar::before {
        bottom: 9px;
    }
    .h_menu header .hamburger-menu .bar::after {
        top: 9px;
    }
}
@media (max-height: 550px) {
    .h_menu header .desk-menu .menu-container .menu-foot hr,
    .h_menu header .desk-menu .menu-container .menu-foot address {
        display: none;
    }
}
.h_menu.rtl_mode header .desk-menu .logo {
    float: right;
}
.h_menu.rtl_mode header .desk-menu .logo .navbar-nav {
    margin-left: 0 !important;
    margin-right: 30px !important;
}
.h_menu.rtl_mode header .desk-menu .box-menu {
    float: left;
}
.h_menu.rtl_mode header .desk-menu .box-menu .menu-container .menu > li {
    margin-left: 0;
    margin-right: 10px;
}
.h_menu.rtl_mode header .desk-menu .menu-container .menu > li.menu-item-has-children a {
    text-align: right;
}
.h_menu.rtl_mode header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a i {
    right: auto;
    left: 15px;
}
