
::ng-deep .mdc-form-field > label{
    color: #000 !important; // Use your primary color

}
 
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
border: 1px solid #D5D5D5 !important; /*change radio button not checked border */
background-color: #fff;
}
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle{
background-color: #fff;
}

::ng-deep .mat-checkbox {
    .mat-checkbox-ripple .mat-ripple-element {
        background-color: #fff !important;
    }
    .mat-checkbox-frame {
        border-color: #D5D5D5 !important;
    }
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
    border-color: #D5D5D5 !important;
}

.card-header{
    padding: 15px 15px 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent !important;
    border:none !important
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.4) sepia(80%) saturate(1000%) hue-rotate(200deg);
}
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(0.4) sepia(80%) saturate(1000%) hue-rotate(200deg);
}

.collapse-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }
  
  .collapse-container.open {
    max-height: 1000px; /* Set a sufficiently large value */
  }

  .add_bg{
    background-color: #F3F5F6;
  }

  .ht-200{
    height: 200px;
    overflow-y: auto;
  }

  .photo_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed #9B9B9B;
    border-radius: 10px;
    padding: 10px;
  }
  .up_div{
    margin-left: 10px;
    align-items: flex-start;
  }
  .up_div h4{
    font-size: 14px;
    margin: 0;
  }

  .up_div span{
    font-size: 10px;
    font-style: italic;
    color: #9B9B9B;
  }