<div class="container-fluid">
    <div class="block-header">
        <div class="row mb-5">
            <div class="col-lg-12">
            <ul class="breadcrumb">                          
              <li class="breadcrumb-item">Dashboard</li>
              <li class="breadcrumb-item">Meetings & Communications</li>
              <li class="breadcrumb-item active">Send Message</li>
          </ul>
        </div>
          </div>
           <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                   <a href="javascript::(0)" (click)="backtohome()">
                   <i class="fa-solid fa-arrow-left mr-2"></i></a>
                   <h2 class="mb-0">Send Message</h2> 
               </div>
              <div class="col-lg-6 d-flex align-items-center justify-content-end"> 
                    <button class="btn btn-lg btn-outline-white mr-2" (click)="cancel()">Cancel</button>
                    <button class="btn btn-lg btn-primary" (click)="invite()">Send Message <img src="../../../../assets/images/btn_arrow.png" class="btn_arrow ml-2"/></button>
                
              </div>
           </div>
       </div>

<div class="row mb-5">
     
    <div class="col-lg-12"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label >Title</label>
                    <input class="form-control" type="text" placeholder="Enter title" [(ngModel)]="clsinvite.title" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label >Description</label>
                    <textarea class="form-control" placeholder="Enter Description" [(ngModel)]="clsinvite.desc" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label >Photo</label>
                  <div class="photo_div">
                        <div class="d-flex align-items-center">
                            <img src="../../../../assets/images/loader.png" width="32" height="32"/>
                            <div class="d-flex flex-column up_div">
                                <h4>Upload Photo</h4>
                                <span>.jpeg,.jpg files upto 200KB</span>
                            </div>
                        </div>
                        <button  class="btn btn-primary">
                        <input type="file" (change)="onFileChange($event)"  placeholder="slect image" [(ngModel)]="clsinvite.imageFile"  style="opacity: 0;position: absolute;width: 50px;">
                        Browse
                    </button>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label >Date</label>
                    <input class="form-control" type="date" placeholder="select Date" [(ngModel)]="clsinvite.msg_date" [ngModelOptions]="{standalone: true}"  [attr.min]="todayDate">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label >Time</label>
                    <input class="form-control" type="time" placeholder="Enter Time" [(ngModel)]="clsinvite.msg_time" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label >Sender</label>
                    <select class="form-control" [(ngModel)]="clsinvite.sender_id" [ngModelOptions]="{standalone: true}">
                        <option value="">Select Senders</option>
                        <option *ngFor="let sender of SenderList" [value]="sender.id">{{ sender.first_name }} {{ sender.last_name}}</option> 
                    </select>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col-lg-12">
        <div class="card add_bg">
            <div class="card-body">
                <h5 class="card_title">Add People</h5>
                <span class="card_span">(only 100 people allowed in one meeting)</span>
                <div class="mt-2 mb-2 w-100">
                    <mat-checkbox class="example-margin">All Members</mat-checkbox>
                </div>
<div id="accordion"> 
                <div class="row">
                    <div class="col-lg-12">
                        <h6>Organisation</h6>
                    </div> 
                    <div class="col-lg-2" *ngFor="let category of categories1"> 
                        <div  class="card">
                            <div class="card-header p-2">
                                <h6>{{category.name}}</h6>
                            </div>
                           
                            <div class="card-body ht-200">
                                <div *ngIf="category.activities && category.activities.length > 0">
                                <mat-checkbox  
                                  [(ngModel)]="category.selected" 
                                  (change)="selectAllActivities(category)" 
                                  color="primary">
                                 All
                                </mat-checkbox>
                               
                                    <div *ngFor="let activity of category.activities" class="w-100">
                                      <mat-checkbox 
                                        
                                        (change)="onCheckboxChange($event, activity)" 
                                        [(ngModel)]="activity.Activityselected" 
                                        color="primary">
                                        {{ activity.title }}
                                      </mat-checkbox>
                                    </div>
                                  </div>
                                  <div *ngIf="(category.activities ?? []).length === 0">
                                    <p>No Users are available for this Organisation.</p>
                                  </div>
                              </div> 
                          </div>
                          

                           
                            </div>
                                                <div class="col-lg-12 mt-1 mb-1" >
                                                    <h6>Designation</h6>
                                                </div>
                                                <div class="col-lg-12 chkbx">
                                                <div class="d-flex justify-content-center align-items-center mr-3" *ngFor="let designation of designationsList">
                                                  
                                                    <mat-checkbox
                                                      class="example-margin"
                                                      [(ngModel)]="designation.selected"
                                                      (change)="updateDesignations(designation)"
                                                      color="primary">
                                                      {{ designation.name }}
                                                    </mat-checkbox>
                                                  
                                                </div>
                                              </div>
                                              <div class="col-lg-3 mt-4">
                                                <div class="form-group">
                                                    <label for="search">Name</label>
                                                    <div class="input-group">
                                                      <input
                                                        type="text"
                                                        id="search"
                                                        class="form-control"
                                                        placeholder="Add People"
                                                        [(ngModel)]="searchQuery"
                                                        (input)="filterUsers()" 
                                                      />
                                                      
                                                    </div>
                                                  
                                                    <!-- Filtered List of Users -->
                                                    <ul class="list-group mt-2" *ngIf="filteredUsers.length > 0">
                                                      <li
                                                        class="list-group-item"
                                                        *ngFor="let user of filteredUsers"
                                                        (click)="addUser(user)"
                                                      >
                                                        {{ user.name }}
                                                      </li>
                                                    </ul>
                                                  
                                                    <!-- Selected Users -->
                                                    <div class="selected-users mt-3" *ngIf="selectedUsers.length > 0">
                                                      <h5>Selected Name:</h5>
                                                      <ul class="list-group">
                                                        <li
                                                          class="list-group-item d-flex justify-content-between align-items-center"
                                                          *ngFor="let user of selectedUsers"
                                                        >
                                                          {{ user.name }}
                                                          <button class="btn btn-danger btn-sm" (click)="removeUser(user)">
                                                            Remove
                                                          </button>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                  </div>
                                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>

        <div class="col-lg-12 mt-4 mb-4 text-center">
            <button class="btn btn-lg btn-outline-white mr-2" (click)="cancel()">Cancel</button>
            <button class="btn btn-lg btn-primary" (click)="invite()">Send Message <img src="../../../../assets/images/btn_arrow.png" class="btn_arrow ml-2"/></button>
        </div>
    </div> 


    
</div>   


