.nowrap{
    white-space: nowrap;
}

.dashboard-campaigns {
    height: 250px;
    overflow-y: scroll;
    width: 100%;
}
.pos-rel{
    position: relative;
}
.meeting_title_link{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #19aaed;
}
.meeting_title_link img{
    width: 16px;
    height: 16px;
    transform: rotate(-45deg);
}
.mnth_title{
    font-size: 20px;
    color: #fff;
    font-weight: normal;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.title h6{
    font-size: 20px;
    color: #fff; 
    font-weight: normal; 
}
.nav-item{
    border-radius: 5px;
    border:1px solid #485257;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #19aaed !important;
}
.nav-pills>li>a{
    background-color: #2c393f !important;
    border-radius: 5px !important;
    color: #fff !important;
}
.nav-pills .nav-link{
    border-bottom: 0 !important;
    font-size: 12px;
}
.title i{
    color: #2699fb;
    font-size: 16px;
}

.meeting_list{
    background-color: #fff;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
    justify-content: space-between;
}
.tab-content > .active{
    padding-right: 0 !important;
}

.meeting_list_left{
    display: flex;
    width: 70%;
    flex-direction: column;
}
.meeting_list span{
    color: #9b9b9b;
    font-size: 10px; 
}
.team_mem{
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #2c393f !important;
}
.datetime{
    background-color: #2c393f;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 5px;
}
.datetime span{
    color: #fff;
    font-size: 10px;
}
.btn_login{
    width: 70%; 
}
.meeting_list_left h6{
    color: #000;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.meeting_list_right{
    display: flex;
    flex-direction: column;
}

.tab-content{
    padding-left:0;
    padding-right: 0;
    padding-top: 0;
}

.ht-300{
    height: 300px;
    overflow-y: auto;
}

.card-img-top{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #bce0fd;
    margin: 20px;
}

.card-title{
    font-size: 14px; 
    text-align: center;
    display: block;
    color: #000;
    padding: 0 20px;
    line-height: 20px;

}
.item .cards .card-body img{
    width: 72px;
}
.menu:hover{
    background: #2699fb;
}

.menu:hover h5{
    color: #fff;
}

.text-bold{
    font-weight: bold;
}

.text-grey{
    color: #7f7f7f;
}

.cards{
    border-radius: 20px;
    border: 1px solid #97ddff;
    width: 100%;
    display: flex;
    padding: 10px;
    height: 250px;
}

.meetings_bg{
    background-color: #2c393f !important;
}

.viewall{
    background-color: #19aaed;
    border-radius: 50px;
    padding: 7px 12px;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
}

.thumbnail img{
    width: 100%;
}

.thumb-div{
    width: 80%;
    position: absolute;
    bottom: 5%;
    left: 10%; 
    background-color: #fff;
    border-radius: 20px;
}
.thumb_inner{
    padding: 20px;
    width: 80%;
}

.thumb_inner h1{
    font-size: 20px;
    color: #19AAED;
    font-weight: 400;
    margin-bottom: 10px;
}

.thumb_inner span{
    color: #000;
    font-size: 12px;
    font-weight: normal;
}

.pdf_dnload{
    background-color: #c6e2ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 20%;
    border-radius: 0 20px 20px 0px;

}
.pdf_dnload img{
    width: 20px;
}

.training_img{
    width: 40%;
    position: relative;
}
.tim_details{
position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 33px;
    bottom: 15px;
}
.tim_details span{
    font-size: 10px;
    color: #000;
}

.tim_details label{
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

.training_dtls{
    width: 60%;
}

.training_dtls h2{
    font-size: 12px;
    color: #000;
}

.training_dur{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detials span{
    font-size: 10px;
    color: #000;
}
.detials label{
    font-weight: bold;
    font-size: 10px;
    color: #000;
}

.train_b_details{
    width: 100%;
    border-radius: 50px;
    background: #13446D;
    padding: 3px 5px;
    margin:5px 0;
}

.train_b_details h4{
    font-size: 12px;
    color: #fff;
    margin-left: 5px;
    margin-bottom: 0;
}

.train_b_details span{
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.train_b_details span img{
    width: 16px;
}

.btn-white{
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.activities-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .activities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 20px;
  }
  
  .activity-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px; 
    position: relative;
  }
  
  .activity-image {
    height: 215px;
    background-color: #d0e7ff;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .activity-image img{
    width:100%;
    height: 100%;
    border-radius: 10px;
  }
  .activity-content h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .activity-meta span{
    font-size: 12px;
    color: #555;
  }
  
  .activity-meta span {
    display: block;
    font-size: 16px;
    color: #000;
  }
  .activity-detail-container {
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
  }
  .content .card {
    background: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .field label {
    font-weight: bold;
  }