<div class="container-fluid">
    <div class="block-header">
        <div class="row mb-2">
          <div class="col-lg-12">
          <ul class="breadcrumb">                          
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Congress Organization</li>
        </ul>
      </div>
        </div>
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                      <a href="javascript::(0)" (click)="backtohome()">
                      <i class="fa-solid fa-arrow-left mr-2"></i></a>
                      <h2 class="mb-0">Congress Organization</h2> 
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="d-flex flex-row-reverse">
                          <div class="page_action">
          
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>


          <div class="row">
            <div class="col-lg-2">
                <h2 class="filter flt_mb" (click)="filter()">Filters</h2>
                <h2 class="filter flt_web">Filters</h2>
                <div id="accordion" class="acc_filter">
                  <div class="card mb-2" *ngIf="FilterOptions && FilterOptions.frontals">
                    <div class="card-body" >
                      <div class="filter_title_div"> 
                          <div class="d-flex w-100 align-items-center justify-content-between" id="headingFN"> 
                                  <button
                                    class="filter_title accordion-toggle"
                                    data-toggle="collapse"
                                    data-target="#collapseFN"
                                    aria-expanded="true"
                                    aria-controls="collapseFN" 
                                    > <span class="icon">-</span>
                                   Frontals
                                  </button>
                                  <button class="btn fil-sm btn-dark"  (click)="clearCheckedResult(FrontalNames,'FrontalNames')">Clear All</button>
                               
                              
                          </div>
                          
                      </div>
                      <div class="filter_main"  id="collapseFN"
                      class="collapse show"
                      aria-labelledby="headingFN" >
                              <div class="inputcheck" >
                                <mat-checkbox color="#000" class="custom" (change)="onAllCheckedResult(FrontalNames,'FrontalNames')">All</mat-checkbox>
                              </div>
                              <div class="inputcheck" *ngFor="let meeting of FrontalNames" >
                                <mat-checkbox color="#000" (change)="onCheckedResult(meeting,'FrontalNames')" color="#000" [checked]="meeting.is_selected">{{ meeting.DeptName }}</mat-checkbox>
                              </div>
                             
                      </div>
                  </div>
                </div> 

                <div class="card mb-2" *ngIf="FilterOptions && FilterOptions.Departments">
                  <div class="card-body" >
                    <div class="filter_title_div"> 
                        <div class="d-flex w-100 align-items-center justify-content-between" id="headingDept"> 
                                <button
                                  class="filter_title accordion-toggle"
                                  data-toggle="collapse"
                                  data-target="#collapseDept"
                                  aria-expanded="true"
                                  aria-controls="collapseDept" 
                                  > <span class="icon">-</span>
                                 Departments
                                </button>
                                <button class="btn fil-sm btn-dark"  (click)="clearCheckedResult(Departments,'Departments')">Clear All</button>
                             
                            
                        </div>
                        
                    </div>
                    <div class="filter_main"  id="collapseDept"
                    class="collapse show"
                    aria-labelledby="headingDept" >
                            <div class="inputcheck" >
                              <mat-checkbox color="#000" class="custom" (change)="onAllCheckedResult(Departments,'Departments')">All</mat-checkbox>
                            </div>
                            <div class="inputcheck" *ngFor="let meeting of Departments.slice(0,DepartmentLimit)" >
                              <mat-checkbox color="#000" (change)="onCheckedResult(meeting,'Departments')" color="#000" [checked]="meeting.is_selected">{{ meeting.DeptName }}</mat-checkbox>
                            </div>
                            <a class="btn more_btn"  *ngIf="DepartmentLimit < Departments.length" (click)="showmore('departments')" >More</a>
                            <a class="btn more_btn"  *ngIf="DepartmentLimit == Departments.length" (click)="showless('departments')" >Less</a>
                    </div>
                </div>
              </div> 
              <div class="card mb-2" *ngIf="FilterOptions && FilterOptions.Committees">
                <div class="card-body" >
                    <div class="filter_title_div">
                        <div class="d-flex w-100 align-items-center justify-content-between" id="headingCom">
                            
                                <button
                                  class="filter_title accordion-toggle"
                                  data-toggle="collapse"
                                  data-target="#collapseCom"
                                  aria-expanded="true"
                                  aria-controls="collapseCom"
                                 
                                  > <span class="icon">-</span>
                                   Committees
                                 
                                </button>
                                <button class="btn fil-sm btn-dark" (click)="clearCheckedResult(Committees,'Committees')" >Clear All</button>
                             
                            
                        </div>
                        
                    </div>
                    <div class="filter_main"   id="collapseCom"
                    class="collapse show"
                    aria-labelledby="headingCom"
                     >
                            <div class="inputcheck" >
                              <mat-checkbox color="#000" (change)="onAllCheckedResult(Committees,'Committees')">All</mat-checkbox>
                            </div>
                            <div class="inputcheck" *ngFor="let meeting of Committees" >
                              <mat-checkbox (change)="onCheckedResult(meeting,'Committees')" color="#000" [checked]="meeting.is_selected">{{ meeting.DeptName }}</mat-checkbox>
                            </div>
                           
                    </div>
                </div>
            </div> 









                <div class="card mb-2" *ngIf="FilterOptions && FilterOptions.Designation">
                    <div class="card-body" >
                        <div class="filter_title_div">
                            <div class="d-flex w-100 align-items-center justify-content-between" id="headingOne">
                                
                                    <button
                                      class="filter_title accordion-toggle"
                                      data-toggle="collapse"
                                      data-target="#collapseOne"
                                      aria-expanded="true"
                                      aria-controls="collapseOne"
                                     
                                      > <span class="icon">-</span>
                                      Designations
                                     
                                    </button>
                                    <button class="btn fil-sm btn-dark" (click)="clearCheckedResult(Designations,'Designations')" >Clear All</button>
                                 
                                
                            </div>
                            
                        </div>
                        <div class="filter_main"   id="collapseOne"
                        class="collapse show"
                        aria-labelledby="headingOne"
                         >
                                <div class="inputcheck" >
                                  <mat-checkbox color="#000" (change)="onAllCheckedResult(Designations,'Designations')">All</mat-checkbox>
                                </div>
                                <div class="inputcheck" *ngFor="let meeting of Designations.slice(0,DesignationLimit)" >
                                  <mat-checkbox (change)="onCheckedResult(meeting,'Designations')" color="#000" [checked]="meeting.is_selected">{{ meeting.name }}</mat-checkbox>
                                </div>
                                <a class="btn more_btn"  *ngIf="DesignationLimit < Designations.length" (click)="showmore('designation')" >More</a>
                                <a class="btn more_btn"  *ngIf="DesignationLimit == Designations.length" (click)="showless('designation')" >Less</a>
                        </div>
                    </div>
                </div> 

              
              <!-- <div class="card mb-2">
                <div class="card-body">
                  <div class="filter_title_div"> 
                      <div class="d-flex w-100 align-items-center justify-content-between" id="headingFNs"> 
                              <button
                                class="filter_title accordion-toggle"
                                data-toggle="collapse"
                                data-target="#collapseFNs"
                                aria-expanded="true"
                                aria-controls="collapseFN" 
                                > <span class="icon">-</span>
                                Frontals
                              </button>
                      </div>
                      
                  </div>
                  <div class="filter_main"  id="collapseFNs"
                  class="collapse show"
                  aria-labelledby="headingFN" >
                  <div class="card mb-4 no-bdr">
                    
                </div>
    
                <div class="card mb-2 no-bdr">
                  <div class="card-body p-0" *ngIf="FilterOptions && FilterOptions.frontaldesignation">
                      <div class="filter_title_div"> 
                          <div class="d-flex w-100 align-items-center justify-content-between" id="headingFD"> 
                                  <button
                                    class="filter_title accordion-toggle"
                                    data-toggle="collapse"
                                    data-target="#collapseFD"
                                    aria-expanded="true"
                                    aria-controls="collapseFD" 
                                    > <span class="icon">-</span>
                                    Frontal Designation
                                  </button>
                                  <button class="btn fil-sm btn-dark"  (click)="clearCheckedResult(FrontalDesignation,'FrontalNames')">Clear All</button>
                               
                              
                          </div>
                          
                      </div>
                      <div class="filter_main"  id="collapseFD"
                      class="collapse show"
                      aria-labelledby="headingFD" >
                              <div class="inputcheck" >
                                <mat-checkbox color="#000" class="custom" (change)="onAllCheckedResult(FrontalDesignation,'FrontalNames')">All</mat-checkbox>
                              </div>
                              <div class="inputcheck" *ngFor="let meeting of FrontalDesignation" >
                                <mat-checkbox color="#000" (change)="onCheckedResult(meeting,'FrontalDesignation')" color="#000" [checked]="meeting.is_selected">{{ meeting.name }}</mat-checkbox>
                              </div>
                             
                      </div>
                  </div>
              </div>  
                         
                  </div>
              </div>
              </div> -->
             


                 <div class="card mb-2" *ngIf="FilterOptions && FilterOptions.State">
                  <div class="card-body" >
                      <div class="filter_title_div">
                          <div class="d-flex w-100 align-items-center justify-content-between" id="headingTwo">
                              
                                  <button
                                    class="filter_title accordion-toggle"
                                    data-toggle="collapse"
                                    data-target="#collapseTwo"
                                    aria-expanded="true"
                                    aria-controls="collapseTwo" 
                                    > <span class="icon">-</span>
                                    States 
                                  </button>
                                  <button class="btn fil-sm btn-dark"  (click)="clearCheckedResult(States,'States')">Clear All</button>
                               
                              
                          </div>
                          
                      </div>
                      <div class="filter_main"  id="collapseTwo"
                      class="collapse show"
                      aria-labelledby="headingTwo" >
                              <div class="inputcheck" >
                                <mat-checkbox color="#000" class="custom" (change)="onAllCheckedResult(States,'States')">All</mat-checkbox>
                              </div>
                              <div class="inputcheck" *ngFor="let meeting of States.slice(0,StatesLimit)" >
                                <mat-checkbox color="#000" (change)="onCheckedResult(meeting,'States')" color="#000" [checked]="meeting.is_selected">{{ meeting.STATENAME }}</mat-checkbox>
                              </div>
                              <a class="btn more_btn" *ngIf="StatesLimit < States.length" (click)="showmore('states')" >More</a>
                              <a class="btn more_btn"  *ngIf="StatesLimit == States.length" (click)="showless('states')" >Less</a>
                      </div>
                  </div>
              </div>
              <div class="card mb-2" *ngIf="FilterOptions && FilterOptions.District">
                <div class="card-body" >
                    <div class="filter_title_div">
                        <div class="d-flex w-100 align-items-center justify-content-between" id="headingThree">
                            
                                <button
                                  class="filter_title accordion-toggle"
                                  data-toggle="collapse"
                                  data-target="#collapseThree"
                                  aria-expanded="true"
                                  aria-controls="collapseThree"
                                 
                                  > <span class="icon">-</span>
                                  Districts
                                 
                                </button>
                                <button class="btn fil-sm btn-dark"  (click)="clearCheckedResult(Districts,'Districts')">Clear All</button>
                             
                            
                        </div>
                        
                    </div>
                    <div class="filter_main"  
                    class="collapse show"
                    aria-labelledby="headingThree"
                    data-parent="#accordion">
                            <div class="inputcheck" >
                              <mat-checkbox color="#000" (change)="onAllCheckedResult(Districts,'Districts')">All</mat-checkbox>
                            </div>
                            <div class="inputcheck" *ngFor="let meeting of Districts.slice(0,DistrictsLimit)" >
                              <mat-checkbox color="#000" (change)="onCheckedResult(meeting,'Districts')" color="#000" [checked]="meeting.is_selected">{{ meeting.DISTRICTNAME }}</mat-checkbox>
                            </div>
                            <a class="btn more_btn" *ngIf="DistrictsLimit < Districts.length" (click)="showmore('districts')" >More</a>
                            <a class="btn more_btn"  *ngIf="DistrictsLimit == Districts.length" (click)="showless('districts')" >Less</a>
                    </div>
                </div>
            </div> 
              
                <div class="d-flex align-items-center justify-content-center mt-3 mb-3">
                    <button class="btn btn-outline-white mr-2">Clear</button>
                    <button class="btn btn-primary" (click)="filterResult()">Apply</button>
                </div>
                </div>
            </div>
            <div class="col-lg-10">
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="AICC-tab" data-toggle="tab" href="#AICC" (click)="showTab('AICC')" role="tab" aria-controls="home" aria-selected="true">AICC</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="PCC-tab" data-toggle="tab" href="#PCC" (click)="showTab('PCC')" role="tab" aria-controls="profile" aria-selected="false">PCC's</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="PCC-tab" data-toggle="tab" href="#DCC" (click)="showTab('DCC')" role="tab" aria-controls="profile" aria-selected="false">DCC</a>
                    </li>
                   
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="SC-tab" data-toggle="tab" href="#SC" (click)="showTab('SC')" role="tab" aria-controls="contact" aria-selected="false">SC Dept</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="ST-tab" data-toggle="tab" href="#ST" (click)="showTab('ST')" role="tab" aria-controls="contact" aria-selected="false">ST Dept</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="OBC-tab" data-toggle="tab" href="#OBC" (click)="showTab('OBC')" role="tab" aria-controls="contact" aria-selected="false">OBC Dept</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="Minority-tab" data-toggle="tab" href="#Minority" (click)="showTab('Minority')" role="tab" aria-controls="contact" aria-selected="false">Minority Dept</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="AICC" role="tabpanel" aria-labelledby="home-tab">
                      <div  *ngTemplateOutlet="gridTemplate; context: { tableId: 'tblAicc',dataset: returnDataset('AICC') ,tabType :'AICC' }" ></div> 
                    </div>
                    <div class="tab-pane fade" id="PCC" role="tabpanel" aria-labelledby="home-tab">
                      <div  *ngTemplateOutlet="gridTemplate; context: { tableId: 'tblPCC',dataset: returnDataset('PCC'),tabType :'PCC' }" ></div> 
                    </div>
                    <div class="tab-pane fade" id="DCC" role="tabpanel" aria-labelledby="home-tab">
                      <div  *ngTemplateOutlet="gridTemplate; context: { tableId: 'tblDCC',dataset: returnDataset('DCC'),tabType :'DCC' }" ></div> 
                    </div>
                  
                    <div class="tab-pane fade" id="SC" role="tabpanel" aria-labelledby="home-tab">
                      <div  *ngTemplateOutlet="gridTemplate; context: { tableId: 'tblSC',dataset: returnDataset('SC'),tabType :'SC' }" ></div> 
                    </div>  
                      <div class="tab-pane fade" id="ST" role="tabpanel" aria-labelledby="home-tab">
                      <div  *ngTemplateOutlet="gridTemplate; context: { tableId: 'tblST',dataset: returnDataset('ST'),tabType :'ST' }" ></div> 
                    </div>
                    <div class="tab-pane fade" id="OBC" role="tabpanel" aria-labelledby="home-tab">
                      <div  *ngTemplateOutlet="gridTemplate; context: { tableId: 'tblOBC',dataset: returnDataset('OBC'),tabType :'OBC' }" ></div> 
                    </div>
                    <div class="tab-pane fade" id="Minority" role="tabpanel" aria-labelledby="home-tab">
                      <div  *ngTemplateOutlet="gridTemplate; context: { tableId: 'tblMinority',dataset: returnDataset('Minority'),tabType :'Minority' }" ></div> 
                    </div>
                  </div>
                 <ng-template #gridTemplate let-tableId="tableId" let-dataset="dataset" let-tabType="tabType">
                  <div class="body text-center d-flex justify-content-center flex-column" *ngIf="(dataset ?? []).length === 0">
                    <div class="page-loader-wrapper_2">
                      <div class="loader">
                          <div><img src="../../assets/images/loader.png" width="64" height="64" alt="Iconic"></div>
                          <p>Loading...</p>
                      </div>
                  </div>
                 </div>
                  <div class="tabseachBar justify-content-end">
                    <!-- <div class="search tab_search">
                        <i class="fa fa-search"></i>  
                        <input type="text" class="form-control round" [(ngModel)]="searchValue"    (input)="onSearchChange(tableId)"> 
                    </div> -->
                    <div class="btns">
                      <button class="btn btn-outline-white mr-2" data-toggle="modal" data-target="#printExcel" (click)="printTable(tableId)"><i class="icon-printer mr-2"></i> Print</button>
                      <button class="btn btn-secondary" (click)="export2Excel(tableId)"><i class="fa fa-cloud-download mr-2"></i>Download</button>
                    </div> 
              </div>
              <div class="table-responsive"> 
                <table class="table table-hover  dataTable nexagrid-basic-example table-custom mb-0" id="{{tableId}}">
                  <thead>
                      <tr>
                        <th>Sr. No</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>State</th>
                        <th>Phone Number</th>
                        <th>Email Id</th>
                        <th>Designation</th>
                        <th>Charge Area</th>
                        <th>Year</th>
                        <th>Native City/ <br/>Village</th>
                      
                        <th>#</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let meeting of dataset; let i = index">
                          <td>{{i+1}}</td>
                          <td><a href="{{meeting.image_path || '../../../assets/images/logo.png'}}" target="_blank"><img [src]="meeting.image_path || '../../../assets/images/logo.png'" 
                              width="32" height="32"></a></td>
                          <td>{{meeting.first_name + ' ' + meeting.last_name}}</td>
                          <td>{{meeting.state_name}}</td>
                          <td>{{meeting.mobile_no}}</td> 
                          <td>{{meeting.email_id}}</td>
                          <td>{{meeting.designation}}</td>
                          <td>{{meeting.chargearea}}</td>
                          <td>{{meeting.current_year}}</td>
                          <td>{{meeting.city_name}}</td>
                      
                          <td><a href='/user-profile/{{meeting.access_token}}' target="_blank" class="pop_edit"  >
                            <i class="fa fa-eye"></i> 
                          </a></td>
                      </tr> 
                  </tbody>
              </table>
              </div>
            </ng-template>
            </div>
          </div>
   </div>

   <div class="modal fade" id="printExcel" tabindex="-1" role="dialog" aria-labelledby="printExcel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body mt-5 d-flex align-items-center flex-column justify-content-center alertbox">
            <div class="table-responsive" id="divPrint"> </div>
           </div>
           <div class="modal-footer text-center">
            <button type="button" class="btn btn-lg btn-dark" data-dismiss="modal"><i class="icon-close mr-2"></i> Cancel.</button>
            <button type="button" class="btn btn-lg btn-danger"  (click)="printgrid()"  data-dismiss="modal" ><i class="icon-printer mr-2"></i> Print</button>
          </div>
      </div>
    </div>
  </div>