<div class="container-fluid">
    <div class="block-header">
        <div class="row mb-2">
          <div class="col-lg-12">
          <ul class="breadcrumb">                          
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Congress Organization</li>
        </ul>
      </div>
        </div>
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                      <a href="javascript::(0)" (click)="backtohome()">
                      <i class="fa fa-arrow-left mr-2"></i></a>
                      <h2 class="mb-0">Congress Organization</h2> 
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="d-flex flex-row-reverse">
                          <div class="page_action">
          
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>


          <div class="row">
            <div class="col-lg-3">
                <h2 class="filter flt_mb" (click)="filter()">Filters</h2>
                <h2 class="filter flt_web">Filters</h2>
                <div id="accordion" class="acc_filter">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="filter_title_div">
                            <div class="d-flex w-100 align-items-center justify-content-between" id="headingOne">
                                
                                    <button
                                      class="filter_title accordion-toggle"
                                      data-toggle="collapse"
                                      data-target="#collapseOne"
                                      aria-expanded="true"
                                      aria-controls="collapseOne"
                                    > <span class="icon">-</span>
                                      Designations
                                     
                                    </button>
                                    <button class="btn fil-sm btn-dark"  >Clear All</button>
                                 
                                
                            </div>
                            
                        </div>
                        <div class="filter_main"  id="collapseOne"
                        class="collapse show"
                        aria-labelledby="headingOne"
                        data-parent="#accordion">
                                <div class="inputcheck" >
                                  <mat-checkbox color="#000">All</mat-checkbox>
                                </div>
                                <div class="inputcheck" *ngFor="let meeting of Designations.slice(0,DesignationLimit)" >
                                  <mat-checkbox color="#000">{{ meeting.name }}</mat-checkbox>
                                </div>
                                <a class="btn fil-sm"  *ngIf="DesignationLimit < Designations.length" (click)="showmore('designation')" >More</a>
                                <a class="btn fil-sm"  *ngIf="DesignationLimit == Designations.length" (click)="showless('designation')" >Less</a>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                  <div class="card-body">
                      <div class="filter_title_div">
                          <div class="d-flex w-100 align-items-center justify-content-between" id="headingOne">
                              
                                  <button
                                    class="filter_title accordion-toggle"
                                    data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                  > <span class="icon">-</span>
                                    States
                                   
                                  </button>
                                  <button class="btn fil-sm btn-dark"  >Clear All</button>
                               
                              
                          </div>
                          
                      </div>
                      <div class="filter_main"  id="collapseOne"
                      class="collapse show"
                      aria-labelledby="headingOne"
                      data-parent="#accordion">
                              <div class="inputcheck" >
                                <mat-checkbox color="#000">All</mat-checkbox>
                              </div>
                              <div class="inputcheck" *ngFor="let meeting of States.slice(0,StatesLimit)" >
                                <mat-checkbox color="#000">{{ meeting.STATENAME }}</mat-checkbox>
                              </div>
                              <a class="btn fil-sm" *ngIf="StatesLimit < States.length" (click)="showmore('states')" >More</a>
                              <a class="btn fil-sm"  *ngIf="StatesLimit == States.length" (click)="showless('states')" >Less</a>
                      </div>
                  </div>
              </div>
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="filter_title_div">
                            <div class="d-flex w-100 align-items-center justify-content-between" id="headingOne">
                                
                                    <button
                                      class="filter_title accordion-toggle"
                                      data-toggle="collapse"
                                      data-target="#collapseTwo"
                                      aria-expanded="false"
                                      aria-controls="collapseTwo"
                                    > <span class="icon">+</span>
                                    Town/Blocks/Mandal
                                     
                                    </button>
                                    <button class="btn fil-sm btn-dark">Clear All</button>
                                 
                                
                            </div>
                            
                        </div>
                        <div class="filter_main"  id="collapseTwo"
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordion">
                                <div class="inputcheck">
                                  <mat-checkbox color="#000">All</mat-checkbox>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-3 mb-3">
                    <button class="btn btn-outline-white mr-2">Clear</button>
                    <button class="btn btn-primary">Apply</button>
                </div>
                </div>
            </div>
            <div class="col-lg-9">
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="AICC-tab" data-toggle="tab" href="#AICC" (click)="showTab('AICC')" role="tab" aria-controls="home" aria-selected="true">AICC</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="PCC-tab" data-toggle="tab" href="#AICC" (click)="showTab('PCC')" role="tab" aria-controls="profile" aria-selected="false">PCC's</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="SC-tab" data-toggle="tab" href="#AICC" (click)="showTab('SC')" role="tab" aria-controls="contact" aria-selected="false">SC Dept</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="ST-tab" data-toggle="tab" href="#AICC" (click)="showTab('ST')" role="tab" aria-controls="contact" aria-selected="false">ST Dept</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="OBC-tab" data-toggle="tab" href="#AICC" (click)="showTab('OBC')" role="tab" aria-controls="contact" aria-selected="false">OBC Dept</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="Minority-tab" data-toggle="tab" href="#AICC" (click)="showTab('Minority')" role="tab" aria-controls="contact" aria-selected="false">Minority Dept</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="AICC" role="tabpanel" aria-labelledby="home-tab">
                        <div class="tabseachBar">
                            <div class="search tab_search">
                                <i class="fa fa-search"></i> 
                                <input type="text" class="form-control round"> 
                            </div>
                            <div class="btns">
                              <button class="btn btn-outline-white mr-2"><i class="icon-printer mr-2"></i> Print</button>
                              <button class="btn btn-secondary"><i class="fa fa-cloud-download mr-2"></i>Download</button>
                            </div> 
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                              <tr>
                                <th>Sr. No</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Email Id</th>
                                <th>Designation</th>
                                <th>Charge Area</th>
                                <th>Year</th>
                                <th>Native City/ <br/>Village</th>
                                <th>State</th>
                                <th>#</th>
                          </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let meeting of Users; let i = index">
                                  <td>{{i+1}}</td>
                                  <td><img [src]="meeting.image_path || '../../../assets/images/logo.png'" 
                                      width="32" height="32"></td>
                                  <td class="wp">{{meeting.first_name + ' ' + meeting.last_name}}</td>
                                  <td class="wp">{{meeting.mobile_no}}</td> 
                                  <td class="wp">{{meeting.email_id}}</td>
                                  <td class="wp">{{meeting.designation}}</td>
                                  <td class="wp">{{meeting.chargearea}}</td>
                                  <td class="wp">{{meeting.current_year}}</td>
                                  <td class="wp">{{meeting.city_name}}</td>
                                  <td class="wp">{{meeting.state_name}}</td>
                                  <td><a href='javascript::' (click)="viewDetails(meeting.access_token)">
                                    <i class="fa fa-eye"></i> 
                                  </a></td>
                              </tr> 
                          </tbody>
                      </table>
                      </div>
                    </div>
                     
                  </div>
                 
            </div>
          </div>
   </div>
