.span_info{ 
    font-size: 12px;
    padding: 10px;
    border-radius: 5%;
    background: #ffe3e5;
    color: #ffb0b9;
}
.p_info{ 
    padding: 10px;
    padding-left: 5%; 
}


.photo_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed #9B9B9B;
    border-radius: 10px;
    padding: 10px;
  }
  .up_div{
    margin-left: 10px;
    align-items: flex-start;
  }
  .up_div h4{
    font-size: 14px;
    margin: 0;
  }
  
  .up_div span{
    font-size: 10px;
    font-style: italic;
    color: #9B9B9B;
  }
  
  @media only screen and (max-width: 767px) {
    .media{
      position: relative;
      justify-content: center;
      top:-12%;
    }
    .media-left{
      text-align: center;
      margin-right: 0;
    }
    .mb-flex{
      flex-direction: column !important;
  
    }
    .yop_btns{
      flex-direction: column !important;
      margin-top: -25%;
    }
    .yop_btns .btn{
      width: 100%;
    }
  }