<div class="container-fluid">
    <div class="block-header">
        <div class="row mb-2">
          <div class="col-lg-12">
          <ul class="breadcrumb">                          
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Leader Development Mission</li>
        </ul>
      </div>
        </div>
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                      <a href="javascript::(0)" (click)="backtohome()">
                      <i class="fa-solid fa-arrow-left mr-2"></i></a>
                      <h2 class="mb-0">Leader Development Mission</h2> 
                 
                  </div>
                  
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="d-flex flex-row-reverse">
                      <div class="page_action">
      
                      </div>
                      <div class="p-2 d-flex"> 
                        <!-- <button class="btn btn-primary"  data-toggle="modal" data-target="#addldm" ><i class="icon-plus mr-2"></i> Add LDM Activity</button> -->
                          <button class="btn btn-primary" data-toggle="modal" data-target="#addldm"><i class="icon-plus mr-2"></i> Add LDM Activity</button>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-12"> 
                <span class="span_info">National,State ChairPersons of SC,ST,OBC and Minority Depts and LDM National Conveners
and LDM Assembly Coordinators will have to add the LDM Activities
                </span> 
              </div>
              </div>
          </div>


          <div class="row">
            <div class="col-lg-2">
                <h2 class="filter flt_mb" (click)="filter()">Filters</h2>
                <h2 class="filter flt_web">Filters</h2>
                <div id="accordion" class="acc_filter">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="filter_title_div">
                            <div class="d-flex w-100 align-items-center justify-content-between" id="headingOne">
                                
                                    <button
                                      class="filter_title accordion-toggle"
                                      data-toggle="collapse"
                                      data-target="#collapseOne"
                                      aria-expanded="true"
                                      aria-controls="collapseOne"
                                      
                                      > <span class="icon">-</span>
                                      Designations
                                     
                                    </button>
                                    <button class="btn fil-sm btn-dark"  >Clear All</button>
                                 
                                
                            </div>
                            
                        </div>
                        <div class="filter_main" 
                        class="collapse show"
                        aria-labelledby="headingOne"
                        data-parent="#accordion">
                                <div class="inputcheck" >
                                  <mat-checkbox color="#000">All</mat-checkbox>
                                </div>
                                <div class="inputcheck" *ngFor="let meeting of Designations.slice(0,DesignationLimit)" >
                                  <mat-checkbox color="#000">{{ meeting.name }}</mat-checkbox>
                                </div>
                                <a class="btn more_btn" *ngIf="DesignationLimit < Designations.length" (click)="showmore('designation')" >More</a>
                                <a class="btn more_btn"  *ngIf="DesignationLimit == Designations.length" (click)="showless('designation')" >Less</a>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                  <div class="card-body">
                      <div class="filter_title_div">
                          <div class="d-flex w-100 align-items-center justify-content-between" id="headingOne">
                              
                                  <button
                                    class="filter_title accordion-toggle"
                                    data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                   
                                    > <span class="icon">-</span>
                                    States
                                   
                                  </button>
                                  <button class="btn fil-sm btn-dark"  >Clear All</button>
                               
                              
                          </div>
                          
                      </div>
                      <div class="filter_main"  
                      class="collapse show"
                      aria-labelledby="headingOne"
                      data-parent="#accordion">
                              <div class="inputcheck" >
                                <mat-checkbox color="#000">All</mat-checkbox>
                              </div>
                              <div class="inputcheck" *ngFor="let meeting of States.slice(0,StatesLimit)" >
                                <mat-checkbox color="#000">{{ meeting.STATENAME }}</mat-checkbox>
                              </div>
                              <a class="btn more_btn" *ngIf="StatesLimit < States.length" (click)="showmore('states')" >More</a>
                              <a class="btn more_btn"  *ngIf="StatesLimit == States.length" (click)="showless('states')" >Less</a>
                      </div>
                  </div>
              </div>
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="filter_title_div">
                            <div class="d-flex w-100 align-items-center justify-content-between" id="headingOne">
                                
                                    <button
                                      class="filter_title accordion-toggle"
                                      data-toggle="collapse"
                                      data-target="#collapseTwo"
                                      aria-expanded="false"
                                      aria-controls="collapseTwo"
                                      
                                      > <span class="icon">-</span>
                                    Town/Blocks/Mandal
                                     
                                    </button>
                                    <button class="btn fil-sm btn-dark">Clear All</button>
                                 
                                
                            </div>
                            
                        </div>
                        <div class="filter_main" 
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordion">
                                <div class="inputcheck">
                                  <mat-checkbox color="#000">All</mat-checkbox>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-3 mb-3">
                    <button class="btn btn-outline-white mr-2">Clear</button>
                    <button class="btn btn-primary">Apply</button>
                </div>
                </div>
            </div>
            <div class="col-lg-10">
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="AICC-tab" data-toggle="tab" href="#AICC" (click)="showTab('SC Dept')" role="tab" aria-controls="home" aria-selected="true">SC Dept</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="PCC-tab" data-toggle="tab" href="#AICC" (click)="showTab('ST Dept')" role="tab" aria-controls="profile" aria-selected="false">ST Dept</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="SC-tab" data-toggle="tab" href="#AICC" (click)="showTab('OBC Dept')" role="tab" aria-controls="contact" aria-selected="false">OBC Dept</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="ST-tab" data-toggle="tab" href="#AICC" (click)="showTab('Minority Dept')" role="tab" aria-controls="contact" aria-selected="false">Minority Dept</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="OBC-tab" data-toggle="tab" href="#AICC" (click)="showTab('LDM Assembly')" role="tab" aria-controls="contact" aria-selected="false">LDM Assembly   Constituencies</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="LDM-tab" data-toggle="tab" href="#LDM" (click)="showTab('LDM')" role="tab" aria-controls="contact" aria-selected="false">LDM Activities</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="AICC" role="tabpanel" aria-labelledby="home-tab">
                        <div class="tabseachBar">
                            <div class="search tab_search">
                                <i class="fa fa-search"></i> 
                                <input type="text" class="form-control round"> 
                            </div>
                            <div class="btns">
                              <button class="btn btn-outline-white mr-2"><i class="icon-printer mr-2"></i> Print</button>
                              <button class="btn btn-secondary" (click)="export2Excel('exportTable')"><i class="fa fa-cloud-download mr-2"></i>Download</button>
                            </div> 
                      </div>
                      <div class="table-responsive">
                        <table class="table table-hover js-basic-example dataTable table-custom mb-0" id="exportTable">
                          <thead>
                              <tr>
                                <th>Sr. No</th>
                                <th>State</th>
                                <th>Name of the Assembly <br/>Constituency</th>
                                <!-- <th class="numeric-sort">Stream</th> -->
                                <th>Name of the Assembly <br/> Coordinator</th>
                                <th>Phone No</th>
                                <th>Name of the <br/> Block</th>
                                <th>Name of the <br/> Block Coordinator</th>
                                <th>Phone No</th> 
                                <th>#</th>
                          </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let meeting of Users; let i = index">
                                  <td>{{i+1}}</td> 
                                  <td class="wp">{{meeting.statename}}</td>
                                  <td class="wp">{{meeting.assemblyname}}</td>
                                  <!-- <td class="wp">{{meeting.stream}}</td>  -->
                                  <td class="wp">{{meeting.coordinator}}</td>
                                  <td class="wp">{{meeting.phone_no}}</td>
                                  <td class="wp">{{meeting.block_name}}</td>
                                  <td class="wp">{{meeting.block_coordinator}}</td>
                                  <td class="wp">{{meeting.phone_no_block}}</td>
                                  <td><a href='javascript::' class="pop_edit">
                                    <i class="fa fa-eye"></i> 
                                  </a></td>
                              </tr> 
                          </tbody>
                      </table>
                      </div>
                    </div>
                    <div class="tab-pane fade show" id="LDM" role="tabpanel" aria-labelledby="home-tab">
                      <div class="tabseachBar">
                          <div class="search tab_search">
                              <i class="fa fa-search"></i> 
                              <input type="text" class="form-control round"> 
                          </div>
                          <div class="btns">
                            <button class="btn btn-outline-white mr-2"><i class="icon-printer mr-2"></i> Print</button>
                            <button class="btn btn-secondary" (click)="export2Excel('exportTable2')"><i class="fa fa-cloud-download mr-2"></i>Download</button>
                          </div> 
                    </div>
                    <div class="table-responsive">
                      <table class="table table-hover js-basic-example dataTable table-custom mb-0" id="exportTable2">
                        <thead>
                            <tr>
                              <th class="numeric-sort">Sr. No</th>
                              <th class="numeric-sort">Image</th>
                              <th class="numeric-sort">Title</th>
                              <th class="numeric-sort">Name of the <br/> office bearer</th> 
                              <th class="numeric-sort">Designation</th>
                              <th class="numeric-sort">Date Of Posting</th>
                              <th class="numeric-sort">Type Of Activity</th>
                              <th class="numeric-sort">No.Of <br/> Participants</th>
                              <th class="numeric-sort">State</th>
                              <th class="numeric-sort">Expected outcome</th>
                              <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let act of LDMActivities; let i = index">
                                <td>{{i+1}}</td>
                                <td><img [src]="act.photo_path || '../../../assets/images/logo.png'" 
                                    width="32" height="32"></td>
                                <td class="wp">{{act.title}}</td>
                                <td class="wp">{{act.office_bearer}}</td> 
                                <td class="wp">{{act.designation}}</td>
                                <td class="wp">{{act.date_of_posting.split('T')[0]}}</td>
                                <td class="wp">{{act.activity_type_name}}</td>
                                <td class="wp">{{act.no_of_participants}}</td>
                                <td class="wp">{{act.statename}}</td>
                                <td class="wp">{{act.expected_outcome}}</td>
                                <td>
                                  <div class="d-flex align-items-center">                   
                                  <a href='javascript::' class="pop_edit"  data-toggle="modal" data-target="#addldm"   (click)="EditLDM(act)">
                                  <i class="fa fa-pencil"></i> 
                                </a> 
                                <a href='javascript::' class="pop_del" data-toggle="modal" data-target="#delaccount"  (click)="setSelectedLDM(act)">
                                  <i class="fa fa-trash"></i> 
                                </a> 
                              </div>
                              </td>
                                <!-- <td><a href='javascript::'  (click)="ViewActivityDetails(act)">
                                  <i class="fa fa-eye"></i> 
                                </a></td> -->
                            </tr> 
                        </tbody>
                    </table>
                    </div>
                  </div>
                  </div>
                 
            </div>
          </div>
   </div>
    <div class="modal fade" id="addldm" tabindex="-1" role="dialog" aria-labelledby="addactivity" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add LDM Activity</h5>
            <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="my-input">Title</label>
                                <input id="my-input" class="form-control" placeholder="Enter Title" [(ngModel)]="clsldm.title" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                              <label >Name of the office bearer</label>
                              <input class="form-control" type="text" placeholder="Enter name of the office bearer" [(ngModel)]="clsldm.office_bearer" [ngModelOptions]="{standalone: true}" >
                          </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group" >
                            <label >Desigination</label>
                            <select class="form-control" (change)="onDesiginationChange($event)" [(ngModel)]="clsldm.designation_id" [ngModelOptions]="{standalone: true}">
                                <option value="">Select Desigination</option>
                                <option *ngFor="let Designation of DesiginationList" [value]="Designation.id">{{ Designation.name }}</option> 
                                </select>
                        </div>
                    </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label >Date of Posting</label>
                                <input class="form-control" type="date" placeholder="Enter Date" [(ngModel)]="clsldm.date_of_posting" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                      
                        <div class="col-lg-4">
                            <div class="form-group" >
                                <label >Type of Activity</label>
                                <select class="form-control" (change)="onActvitytypeChange($event)" [(ngModel)]="clsldm.activity_id" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select Activity Type</option>
                                    <option *ngFor="let type of ActivityType" [value]="type.id">{{ type.name }}</option> 
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group"  >
                                <label >No of Participant</label>
                                <input id="my-input" class="form-control" type="number" placeholder="Enter Participant" [(ngModel)]="clsldm.no_of_participants" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                       
            
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">State</label>
                                <select class="form-control" (change)="onstateChange($event)" [(ngModel)]="clsldm.state_id" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select State</option>
                                    <option *ngFor="let state of states" [value]="state.STATEID">{{ state.STATENAME }}</option> 
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Assesmbly/Block</label>
                                <select class="form-control" (change)="oncityChange($event)" [(ngModel)]="clsldm.assembly_id" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select Assembly</option>
                                    <option *ngFor="let Asmbly of Assembly" [value]="Asmbly.AssemblyId">{{ Asmbly.AssemblyName }}</option> 
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label">villages</label>
                                <select class="form-control" (change)="onvillageChange($event)" [(ngModel)]="clsldm.village_id" [ngModelOptions]="{standalone: true}">
                                    <option value="">Select villages</option>
                                    <option *ngFor="let village of villages" [value]="village.CityID">{{ village.CityName }}</option> 
                                    </select>
                            </div>
                        </div>
                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Description</label>
                                <textarea class="form-control" placeholder="Enter Description" [(ngModel)]="clsldm.desc" [ngModelOptions]="{standalone: true}" ></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Expected Outcome</label>
                                <input class="form-control" placeholder="Enter Short Description" [(ngModel)]="clsldm.expected_outcome" [ngModelOptions]="{standalone: true}" /> 
                            </div>
                        </div>
                       
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label >Photo</label>
                          <div class="photo_div">
                            <div class="d-flex align-items-center">
                                <img src="../../../../assets/images/loader.png" width="32" height="32"/>
                                <div class="d-flex flex-column up_div">
                                    <h4>Upload Photo</h4>
                                    <span>.jpeg,.jpg files upto 200KB</span>
                                </div>
                            </div>
                            <button  class="btn btn-primary">
                            <input type="file" [(ngModel)]="clsldm.imageFile" style="opacity: 0;position: absolute;width: 50px;" (change)="onFileChange($event)">
                            Browse
                        </button>
                        </div>
                      </div>
                           
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label >Photo</label>
                          <div class="photo_div">
                            <div class="d-flex align-items-center">
                                <img src="../../../../assets/images/loader.png" width="32" height="32"/>
                                <div class="d-flex flex-column up_div">
                                    <h4>Upload Detailed Report</h4>
                                    <span>.pdf,.doc,.xlsx files upto 200KB</span>
                                </div>
                            </div>
                            <button  class="btn btn-primary">
                            <input type="file" [(ngModel)]="clsldm.pdfFile" style="opacity: 0;position: absolute;width: 50px;" (change)="onpdfChange($event)">
                            Browse
                        </button>
                        </div>
                      </div>
                      </div>
                    </div>
               
                    
            </div>   

            

          </div>
          <div class="modal-footer justify-content-end">
            <button type="button"  class="btn btn-lg btn-outline-primary" data-dismiss="modal" (click)="CancelActivity()">Cancel</button>
             <button type="button" class="btn btn-lg btn-primary" (click)="SaveLDM()">Save <img src="../../../../assets/images/btn_arrow.png" class="btn_arrow ml-2" /></button>
          </div>
        </div>
      </div>
  </div> 
  <div class="modal fade" id="delaccount" tabindex="-1" role="dialog" aria-labelledby="delaccount" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body mt-5 d-flex align-items-center flex-column justify-content-center alertbox">
            <img src="assets/images/loader.png" width="32" class="mb-2"/>
            <h2>Are you sure?</h2>
            <p>Do you really want to delete the account?</p>
           </div>
           <div class="modal-footer text-center">
            <button type="button" class="btn btn-lg btn-dark" data-dismiss="modal">No, Keep It.</button>
            <button type="button" class="btn btn-lg btn-danger"  (click)="DeleteLDM(selectedLDM)"  data-dismiss="modal" >Yes, Delete!</button>
          </div>
      </div>
    </div>
  </div>
  
  