<div id="wrapper" class="theme-cyan">
    <div class="vertical-align-wrap">
        <div class="container-fluid">
        <div class="vertical-align-middle auth-main col-lg-12">
            <div class="row">
             
            <div class="col-lg-4 ml-auto">  
            <div class="auth-box"> 
                <div class="card" *ngIf="!otpForm && !isforgotForm">
                     
                    <div class="header text-center">
                        <h4 class="lead">Sign In</h4> 
                        <p class="leadp">Enter your mobile number to continue</p>
                    </div>
                    
                    <div class="body d-flex align-items-center justify-content-center">
                        <form class="form-auth-small text-center">
                            <div class="form-group"> 
                                <label class="w-100 text-left">Mobile Number</label>
                                <input type="text" class="form-control" maxlength="10" [(ngModel)]="clslogin.mobile_no"  [ngModelOptions]="{ standalone: true }" placeholder="Enter Mobile Number">
                            </div> 
                            <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="login()">GET OTP</button>
                           
                            <div class="bottom text-center w-100">  
                                <span class="text-center">Don't have an account? <a href="/auth/register">Register</a></span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card" *ngIf="otpForm">
                    <div class="back ml-3">
                        <a href="javascript::" (click)="back()"><i class="fa fa-arrow-left"></i></a>
                    </div>
                    <div class="header text-center">
                        <h4 class="lead">OTP Verification</h4>
                        <p class="leadp">We have sent OTP on your Mobile Number. Please capture for verification</p>
                    </div>
                    <div class="body d-flex justify-content-center">
                        <form class="form-auth-small">
                            <div class="form-group"> 
                                <input type="password" name="number" maxlength="4" class="form-control" id="signin-otp" [(ngModel)]="clslogin.otp"  [ngModelOptions]="{ standalone: true }" placeholder="Enter OTP">
                                <span class="helper-text m-b-10"><a href="javascript::" (click)="login()" >Didn't Receive OTP?</a></span>
                            </div>
                            <div class="w-100 text-center mt-5">
                            <button type="submit" class="btn btn-primary btn-lg" (click)="validateOTP()">VERIFY OTP</button>
                        </div>
                            <div class="bottom text-center w-100">
                               
                                <span>Don't have an account? <a href="/auth/register">Register</a></span>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- <div class="card" *ngIf="!otpForm && isforgotForm">
                    
                    <div class="header">
                        <h4 class="lead">Forgot Password</h4>
                    </div>
                    <div class="body">
                        <form class="form-auth-small">
                            <div class="form-group">
                                <label for="forgot-email" class="control-label">Mo</label>
                                <input type="email" class="form-control" id="forgot-email" [(ngModel)]="clslogin.mobile_no"  [ngModelOptions]="{ standalone: true }" placeholder="Enter Email">
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="sendEmail()">Send Email</button>
                            <div class="bottom text-center w-100">
                                <span>Know your credentials? <a href="javascript::" (click)="forgotform(false)">Login</a></span>
                            </div>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
        </div>
    </div>
    </div>
</div>