.active_title{
    font-size: 14px;
    color: #000;
}
.active_timespan{
    font-size: 10px;
    color: #9B9B9B;
}
.activity-image img{
    width: 100%;
}

.activity-meta p{
    font-size: 12px;
    color: #000;
    font-weight: 500;
}

.activity-meta{
    height: 85px;
}


.photo_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed #9B9B9B;
    border-radius: 10px;
    padding: 10px;
  }
  .up_div{
    margin-left: 10px;
    align-items: flex-start;
  }
  .up_div h4{
    font-size: 14px;
    margin: 0;
  }
  
  .up_div span{
    font-size: 10px;
    font-style: italic;
    color: #9B9B9B;
  }
  .social-links {
    display: flex;
    gap: 10px; 
  }
  
  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px; 
    background-color: #1877f2; 
    border-radius: 50%; 
    color: white; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
  }
  
  .social-link:hover {
    background-color: #1458b3; 
  }
  @media only screen and (max-width: 767px) {
    .media{
      position: relative;
      justify-content: center;
      top:-12%;
    }
    .media-left{
      text-align: center;
      margin-right: 0;
    }
    .mb-flex{
      flex-direction: column !important;
  
    }
    .yop_btns{
      flex-direction: column !important;
      margin-top: -25%;
    }
    .yop_btns .btn{
      width: 100%;
    }
  }