<div class="container-fluid">
    <div class="block-header">
        <div class="row mb-2">
          <div class="col-lg-12">
          <ul class="breadcrumb">                          
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Knowledge Base(Repository Of Documents/Videos) </li>
        </ul>
      </div>
        </div>
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
                      <a href="javascript::(0)" (click)="backtohome()">
                      <i class="fa fa-arrow-left mr-2"></i></a>
                      <h2 class="mb-0">Knowledge Base(Repository Of Documents/Videos)</h2> 
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="d-flex flex-row-reverse">
                          <div class="page_action">
          
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>


          <div class="row mt-5 mb-5"> 
            <div class="col-lg-12">
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="AICC-tab" data-toggle="tab" href="#AICC" (click)="showTab('Documents')" role="tab" aria-controls="home" aria-selected="true">Documents</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="PCC-tab" data-toggle="tab" href="#AICC" (click)="showTab('Circulars')" role="tab" aria-controls="profile" aria-selected="false">Circulars</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="SC-tab" data-toggle="tab" href="#AICC" (click)="showTab('Videos')" role="tab" aria-controls="contact" aria-selected="false">Videos</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="ST-tab" data-toggle="tab" href="#AICC" (click)="showTab('Photos')" role="tab" aria-controls="contact" aria-selected="false">Photos</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="OBC-tab" data-toggle="tab" href="#AICC" (click)="showTab('Recommended')" role="tab" aria-controls="contact" aria-selected="false">Recommended Readings</a>
                    </li> 
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="AICC" role="tabpanel" aria-labelledby="home-tab">
                        <div class="tabseachBar">
                            <div class="search tab_search">
                                <i class="fa fa-search"></i> 
                                <input type="text" class="form-control round"> 
                               
                            </div>
                            <button class="btn btn-primary"  data-toggle="modal" data-target="#addKnowledge" ><i class="icon-plus mr-2"></i> Add New</button>
                            <!-- <div class="btns">
                              <button class="btn btn-outline-white mr-2"><i class="icon-printer mr-2"></i> Print</button>
                              <button class="btn btn-secondary"><i class="fa fa-cloud-download mr-2"></i>Download</button>
                            </div>  -->
                      </div>
                      <div class="row mt-3">
                        <div class="col-lg-3" *ngFor="let meeting of knowledgebase; let i = index">
                        <div class="card no-bdr mb-2 bx-shadow"> 
                           
                            <div class="card-body">
                              <div *ngIf="meeting.type=='Documents' || meeting.type=='Circulars'; else videoContent"> 
                                <h6 class="active_title mb-0" *ngIf="meeting.type=='Documents'">{{ meeting.author }}</h6>
                                <span class="active_timespan">{{ meeting.date.split('T')[0] }}</span>
                                <div class="activity-meta mt-3">
                                  <p> {{ meeting.title }} 
                                  </p> 
                               </div>
                             </div>
                            

                            </div>
                            <div class="card-footer"> 
                              <a href="javascript::" >Share <i class="fa fa-share"></i></a>
                          <a href="javascript::" > View <i class="fa fa-caret-right"></i></a>
                          </div>
                            <ng-template #videoContent >
                              <div class="activity-image"> 
                                <img [src]="meeting.thumbnail_img || '../../../assets/images/login_bg.png'" (click)="ActivityDetail(meeting)" alt="Activity Image" />
                                 </div>
                                 <div class="card-body" (click)="ActivityDetail(meeting)">
                                   <h3 class="active_title mb-0">{{ meeting.author }}</h3>
                                   <span class="active_timespan">{{ meeting.date.split('T')[0] }}</span>
                                   <div class="activity-meta mt-3">
                                     <span> {{ meeting.title }} 
                                     </span> 
                                   </div>
                                  
                                 </div>

                             </ng-template>
                          
                        
                        </div>
                      </div>
                        <!-- <img [src]="meeting.image_path || '../../../assets/images/logo.png'" 
                                      width="32" height="32"> -->
                      </div>
                    </div>
                     
                  </div>
                 
            </div>
          </div>
   </div>

   
  <div class="modal fade" id="addKnowledge" tabindex="-1" role="dialog" aria-labelledby="addKnowledge" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Knowledge Base</h5>
            <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="my-input">Title</label>
                                <input id="my-input" class="form-control" placeholder="Enter Title" [(ngModel)]="clsknowledge.title" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label >Date</label>
                                <input class="form-control" type="date" placeholder="Enter Date" [(ngModel)]="clsknowledge.date_posting" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                      
                    
                        <div class="col-lg-4">
                            <div class="form-group"  >
                                <label >Author</label>
                                <input id="my-input" class="form-control" type="text" placeholder="Enter Author" [(ngModel)]="clsknowledge.author" [ngModelOptions]="{standalone: true}" >
                            </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group"  >
                              <label >Activity Type</label>
                              <input id="my-input" class="form-control" type="text" placeholder="Enter Activity Type" [(ngModel)]="clsknowledge.activity_type" [ngModelOptions]="{standalone: true}" >
                          </div>
                      </div>
            
                   
                      
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Description</label>
                                <textarea class="form-control" placeholder="Enter Description" [(ngModel)]="clsknowledge.description" [ngModelOptions]="{standalone: true}" ></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >Short Description</label>
                                <textarea class="form-control" placeholder="Enter Short Description" [(ngModel)]="clsknowledge.short_desc" [ngModelOptions]="{standalone: true}"> </textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label >recommended</label>
                                <mat-radio-group class="custom-radio-group" aria-label="Select an option" [(ngModel)]="selectedOption" (change)="onOptionChange()">
                                  <mat-radio-button checked value="1" [(ngModel)]="clsknowledge.is_recommended"  color="primary">Recommended</mat-radio-button>
                                  <mat-radio-button value="0" [(ngModel)]="clsknowledge.is_recommended" color="primary">Not Recommended</mat-radio-button>
                                </mat-radio-group>
                                
                            </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label >Photo</label>
                          <div class="photo_div">
                            <div class="d-flex align-items-center">
                                <img src="../../../../assets/images/loader.png" width="32" height="32"/>
                                <div class="d-flex flex-column up_div">
                                    <h4>Upload Photo</h4>
                                    <span>.jpeg,.jpg files upto 200KB</span>
                                </div>
                            </div>
                            <button  class="btn btn-primary">
                            <input type="file" style="opacity: 0;position: absolute;width: 50px;" (change)="onFileChange($event)">
                            Browse
                        </button>
                        </div>
                      </div>
                           
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label >Photo</label>
                          <div class="photo_div">
                            <div class="d-flex align-items-center">
                                <img src="../../../../assets/images/loader.png" width="32" height="32"/>
                                <div class="d-flex flex-column up_div">
                                    <h4>Upload Detailed Image</h4>
                                    <span>.jpeg,.jpg files upto 200KB</span>
                                </div>
                            </div>
                            <button  class="btn btn-primary">
                            <input type="file" style="opacity: 0;position: absolute;width: 50px;" (change)="onDetailFileChange($event)">
                            Browse
                        </button>
                        </div>
                      </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label >Videos</label>
                        <div class="photo_div">
                          <div class="d-flex align-items-center">
                              <img src="../../../../assets/images/loader.png" width="32" height="32"/>
                              <div class="d-flex flex-column up_div">
                                  <h4>Upload Videos </h4>
                                  <span>.mp4,mp3 files upto 200KB</span>
                              </div>
                          </div>
                          <button  class="btn btn-primary">
                          <input type="file" style="opacity: 0;position: absolute;width: 50px;" accept="video/mp4,video/x-m4v,video/*,audio/mp3,audio/*" (change)="onVideoFileChange($event)">
                          Browse
                      </button>
                      </div>
                    </div>
                    </div>
                    </div>
               
                    
            </div>   

            

          </div>
          <div class="modal-footer justify-content-end">
            <button type="button"  class="btn btn-lg btn-outline-primary" data-dismiss="modal" (click)="CancelActivity()">Cancel</button>
             <button type="button" class="btn btn-lg btn-primary" (click)="SaveActivity()">Save <img src="../../../../assets/images/btn_arrow.png" class="btn_arrow ml-2" /></button>
          </div>
        </div>
      </div>
  </div> 
